[2016-04-06 01:02] stephenotalora commented on #176
ah okay. I see what is happening!

That is the width of the `AutoSizer` that needs to be pass to the next underlying component div!
In my case the width was getting lost since the children of AutoSize was wrapped in a div. However, the width was actually never set on that div, in better words the width wasn't being set to the most outer div of the underlying component.

The `AutoSizer` is added co

[2016-04-06 01:02] #176 closed

[2016-04-06 01:18] bvaughn commented on #176
Ah. Yup, makes sense. So your `ComposeComponent` was overflowing your interstitial `<div>` and being clipped?

Glad you figured it out! :)

[2016-04-06 01:23] stephenotalora commented on #176
not even clipped, the compose component wasn't showing at all! a decorated component DOM was rendering the following into the DOM:

[code]

with the above solution problem solve :tada:

[2016-04-06 06:49] olivierandriessen commented on #160
Looks like STP doesn't allow me to scroll diagonally. Still, when scrolling horizontal I notice a some issues. Perhaps it's just performance, will let you know if I find out. It's hard to notice but at the end I scroll right and you see it wiggle after that I scroll left.

![stp](https://cloud.githubusercontent.com/assets/3968358/14308076/fc68d9fa-fbd3-11e5-8419-9d97e8f8599e.gif)

[2016-04-06 06:57] olivierandriessen commented on #147
@kasrak I agree. I end up forking the `Grid` component too because I want more control over how the items are rendered in the given visible boundaries. I think the delegate pattern is not too hard to implement looking at the way how the `Grid` component is set up atm. In my case I want to render items in a grid for example, see below.
![chrome](https://cloud.githubusercontent.com/assets/3968358/14

[2016-04-06 07:04] martinpesout commented on #160
That's interesting insight guys. I confirm that I don't have this problem in Safari Technology Preview. So if I understand STP well, we should expect the same behavior in Safari in the future, right?

[2016-04-06 07:56] olivierandriessen commented on #147
Perhaps https://developer.apple.com/library/ios/documentation/UIKit/Reference/UICollectionView_class/ can give more insight on this.

[2016-04-06 08:56] Pszek opened #178 "Adding Custom CSS"
I tried to append custom CSS styles for grid cell like this:

[code]
According to docs it should be responsible for style of single row. Unfortunately class I added is being appended to the main VirtualScroll component:

<img width="740" alt="screen shot 2016-04-06 at 10 50 00" src="https://cloud.githubusercontent.com/assets/10253750/14311031/9cecc6d2-fbe5-11e5-9129-a06fea5cc583.png">

The styles

[2016-04-06 09:44] Guria commented on #178
@Pszek there is no such statement in docs:
[code]
It means exactly as it works. Additional class name to use on VirtualScroll.

Docs have [list of classnames used internally](https://github.com/bvaughn/react-virtualized/blob/master/docs/VirtualScroll.md#class-names) that you can use in styling:
[code]
[code]

[2016-04-06 10:06] olivierandriessen commented on #160
@martinpesout  Although the it can still change I think we can expect that the behavior will be the same in the next version.

[2016-04-06 10:09] olivierandriessen commented on #160
One thing to note is that the issue in Safari only arises when inertial scrolling sets in (where the scrolling continues a bit and then gradually comes to a halt when you lift your fingers off the trackpad). So moving with fingers letting go is the problem, moving stopping then letting go not.

[2016-04-06 14:32] bvaughn commented on #178
Thanks @Guria.

@Pszek he's right. The `VirtualScroll` component only accepts a custom class name for itself (the outer component) because each row is rendered by the user- so I figured you could just add whatever class names you wanted directly to the row you rendered. `FlexTable` offers more class name overrides but that's because a lot of the elements it renders (eg. header row, body row) are o

[2016-04-06 14:32] bvaughn commented on #178
Going to close this question since I think it's been adequately answered- but I'll still see responses so if anything is unclear, feel free to ask. :)

[2016-04-06 14:32] #178 closed

[2016-04-06 15:28] Pszek commented on #178
Thank you for feedback.

I hoped that there is an option to set cell's outer frame bottom-border (renered element has overflow set to hidden so the border is not visible). I can omit this problem by setting border-top instead, yet I couldn't find a way to disable it for the first child rendered.

But now solved it by using inline-styling and index parameter.

[2016-04-06 15:30] bvaughn commented on #178
Oh! I see. That's a fair point. Maybe I'll add a new prop in the next release. :)

Glad you've found an acceptable solution for now though.

[2016-04-06 18:25] olivierandriessen commented on #160
By caching all the elements being rendered and implementing [shouldComponentUpdate](https://facebook.github.io/react/docs/component-specs.html) I could bring down the time it took to render the grid from approx. 6ms to 0.1-0.6ms, so definitely recommend doing that.

[2016-04-06 23:11] bvaughn commented on #160
Very interesting @olivierandriessen.

I have an open issue (#162) and an ongoing branch ([batch-rendering](https://github.com/bvaughn/react-virtualized/tree/batch-rendering)) where I've been experimenting with reducing the number of times I render as well as caching rendered cells. It doesn't quite work right yet though (eg. scroll-to-index is broken) and I haven't had time to dig into deeper it y

[2016-04-07 03:01] bvaughn commented on #147
FWIW I am interested in react-virtualized supporting the kind of flexible use-case described by @kasrak and @olivierandriessen. Let's work together to make that happen. :)

[2016-04-07 18:03] bvaughn opened #181 "Support greater customization of cell rendering"
Spin-off from discussions on #147.

Move the creation of cells from `Grid.render` into a factory function that accepts named arguments identifying the start/top index ranges. Provide a default implementation and allow users to override with a new prop.

Would be nice to also provide an implementation that temporarily caches rendered cells.

For inspiration: https://developer.apple.com/library/ios/

[2016-04-07 18:04] bvaughn commented on #147
FYI @kasrak - @olivierandriessen and I chatted on Hangout a bit ago and I created issue #181. The conversation gave me an idea for a small change or two that I could make to `Grid` to make it a bit more customizable out of the box. If you're available sometime soon, maybe we could chat briefly as well so I could get a better sense of your use cases too.

[2016-04-07 23:01] bvaughn opened #182 "Support more customization of layouts"
React Virtualized components currently assume that cells will be laid out in a checkerboard pattern. This doesn't support layouts like the Pinterest-style columns. It would be nice to support those layouts (in a backwards compatible way). It probably touches on a few areas:

### Metadata
The [`GridUtils` `initCellMetadata` method](https://github.com/bvaughn/react-virtualized/blob/master/source/Gri

[2016-04-07 23:03] bvaughn commented on #147
FYI, I've filed issue #182 as well after a discussion with @kasrak. Goal is to support custom (non-checkerboard) layouts. Feedback welcome!

[2016-04-08 02:50] bvaughn commented on #181
Available in version [6.1.0](https://github.com/bvaughn/react-virtualized/blob/master/CHANGELOG.md#610). See [docs](https://github.com/bvaughn/react-virtualized/blob/master/docs/Grid.md#prop-types) for more info.

[2016-04-08 02:50] #181 closed

[2016-04-08 02:52] bvaughn commented on #147
FYI @olivierandriessen [release 6.1.0](https://github.com/bvaughn/react-virtualized/blob/master/CHANGELOG.md#610) supports a custom `renderCellRanges` property for `Grid`. Hope you're able to use it for your spreadsheet app.

[2016-04-08 09:09] pke opened #183 "Support final version of react 15.0.0"
It has been released and I'm unable to get this package to accept the new version `15.0.0` as peer dependency. Does the `-rc1` in the package peerDependencies matter anymore?

[2016-04-08 11:20] bvaughn commented on #183
A dependency of `^15.0.0-rc.1` should match `15.0.0-rc.2` as well as versions like `15.0.0`. So I'm not sure what the problem was?

Either way, just pushed out 6.1.1 with updated dependency string.

[2016-04-08 11:20] #183 closed

[2016-04-08 15:01] nishp1 commented on #147
Brian, thanks for working on making the integration with react-select super easy!

I am going to be using this library along with react-select to work on custom dropdowns with large datasets, nested expandable options, sectioned options (think optgroup).

[2016-04-08 17:01] bvaughn commented on #135
Hey @Guria  and @somebody32. I wanted to let you know about the recent release [6.1.0](https://github.com/bvaughn/react-virtualized/blob/master/CHANGELOG.md#610) as it has a feature I think you would both find useful.

You can provide a custom render function to create `Gris` children. Among other things, this should allow you to do your layering within a single `Grid` instance.

[2016-04-08 18:41] joewood commented on #34
Just a comment and suggestion on this: React-native has the [`ListView`](https://facebook.github.io/react-native/docs/listview.html) component out of the box that already supports virtualization.  I think it makes sense to separate out the high-order components like **InfiniteLoader** out to a separate *"react neutral"* package so they work with **VirtualScroller** or React-native's **ListView**.

[2016-04-08 19:17] bvaughn commented on #34
@joewood Your comment relates to #182. In my branch for that issue I'm working on refactoring the  windowing logic to be more decoupled from `Grid` in order to support windowing for non-checkerboard layouts.

Maybe the result of that could be, as you say, a new NPM package- but I'm not sure. I'll have to give it more thought. More packages means more complicated release process for me and this is

[2016-04-08 19:23] joewood commented on #34
Right, appreciate the time you've put into this.
I was more thinking about reusing the InfiniteLoader logic (basically on-demand data loading) in a react-native project. Although #182 is interesting (I'm personally using a flex-wrap style scrolling container in the VirtualScroller - but that's a separate issue). My point is that InfiniteLoader is definitely view technology agnostic and could be se

[2016-04-08 19:40] joewood commented on #134
Just for information, React-Native's ListView component supports virtualization. It solved this change notification issue by providing a **rowHasChanged** function that the component uses for testing when a new data source is provided. This lets you do a row level deep or shallow compare. [see here](https://facebook.github.io/react-native/docs/listview.html)

[2016-04-08 20:04] bvaughn commented on #134
Interesting info @joewood. Thanks for sharing.

I'll have to give that a little thought and see if I couldn't come up with an improved way of checking for changes.

[2016-04-08 20:05] bvaughn commented on #34
Right, right. I realized a few minutes after responding that I had kind of responded to something a little orthogonal to what you were suggesting by talking about #182. My apologies. :)

I think the same concerns still apply in terms of package complexity. But I'll give it some thought!

[2016-04-09 02:21] oyeanuj commented on #147
Would like to really use it for a feed of stories with dynamic, non-predictable heights (similar to say that of Facebook) :)

[2016-04-09 02:28] bvaughn commented on #147
@oyeanuj Let's chat about that on #149? :)

[2016-04-09 02:28] oyeanuj commented on #149
Since this is my pet request, I will add in some points of discussion that we had in our Discord conversations.

One approach to minimize performance impact on load could be to ask for a `startingNumberOfRows` that you keep in view regardless of height and once those are loaded, start calculating based on height. That parameter could also double up as minimumNumberOfRows which is what you can show

[2016-04-09 02:39] bvaughn commented on #149
I was thinking more along the lines of the `estimatedItemSize` property of the iOS [`UICollectionViewFlowLayout `](https://developer.apple.com/library/ios/documentation/UIKit/Reference/UICollectionViewFlowLayout_class/):

Scrolling directly to an item _does_ complicate things as you say but it's one of the primary features of this library so I don't want to drop it.

[2016-04-09 10:40] superlaziness commented on #160
Hi @bvaughn, thanks for the project!

I'm testing FlexTable component.
After update to 6.1.1 it wiggles more than before while scrolling in Safari (9.0.3). This can be clearly seen when you scroll slow.

![virtuilized-safari](https://cloud.githubusercontent.com/assets/17658112/14403237/85efb294-fe58-11e5-9fd2-5d151e2b9cfa.gif)

In Chrome it looks smooth, but uses more CPU after update.

[2016-04-09 14:36] bvaughn commented on #160
@superlaziness Which version are you comparing 6.1.1 to? (It "uses more CPU" than which version?)

[2016-04-09 14:43] superlaziness commented on #160
@bvaughn with 6.0.4

[2016-04-09 15:16] bvaughn commented on #160
Hm. So the only things that changed between those ranges were aria-related (usability) features in the 6.0.x range and the `renderCellRanges` property. I wouldn't expect either of those to have an impact on performance.

[2016-04-09 15:43] superlaziness commented on #160
Oops, sorry. I also updated the React to 15.0.1. This may be because of this.

[2016-04-09 17:00] bvaughn commented on #160
That would be good to know! I'm moving today so I'm pretty swamped. (Just taking a break from loading up the truck.) If you get the chance to compare React 0.14 and 15 - let me know?

[2016-04-11 04:13] bvaughn commented on #182
Have an initial working prototype of this in a branch. Need to clean it up some more and decide how much code I want to share between `Grid` and `Collection`. (Also not sure about the name `Collection`. It's kind of vague. Any better suggestions?)

![CollectionView demo](https://cloud.githubusercontent.com/assets/29597/14416598/c9b9cfec-ff60-11e5-827c-6a550dff97e6.gif)

FYI @oyeanuj, @olivierandri

[2016-04-11 08:37] somebody32 commented on #135
@bvaughn thank you for notifying about that! Our Gantt product is in the final stages before the release now, but I will try to refactor our current 2 grid implementation into one in the first iterations after it asap.

And as a sidenote: thanks a lot for your hard work on this lib, it is really amazing!

[2016-04-11 08:53] Guria commented on #135
@somebody32 does your gantt completely internal? is there a plans to make it public?

[2016-04-11 09:17] somebody32 commented on #135
@Guria in terms of code or product? if the last one, then it will be released as part of redbooth.com soon

[2016-04-11 09:28] Guria commented on #135
@somebody32 in terms of code but only gantt part as component

[2016-04-11 09:32] somebody32 commented on #135
@Guria I think after the 6.1 release of react-virtualized and new `CollectionView` that is coming it is really easy to make it yourself (and I will try to make a PR with an example as I said earlier). I don't think that extracting something more will be useful for the wide audience because it is really coupled to our product.

[2016-04-11 21:07] superlaziness commented on #160
Ok. I made some measurements.There is no difference between v.6.1.1 and 6.0.4.

render time |  cell  |  grid
------------ | ------------- | -----------
  15.0.1  |  ~26ms        | ~85ms
 0.14.6  |  ~8ms         | ~20ms

[2016-04-11 21:12] gaearon commented on #160
Are you measuring production builds?

[2016-04-11 21:16] bvaughn commented on #160
My goodness, Dan. You're almost creepy fast. :)

[2016-04-11 21:44] superlaziness commented on #160
@gaeron no I measured it with Perf on dev builds.

[2016-04-11 21:44] superlaziness commented on #160
But I've just made some tests on production builds: 11ms on 0.14.6 vs. 24ms on 15.0.1

[2016-04-11 22:14] superlaziness commented on #160
Anyway, I can't see any visual difference between versions in Chrome. And it is not usable in Safari on both of versions yet.

And yes, those wiggles only visible when you use trackpad with inertial scroll.

[2016-04-11 22:31] bvaughn commented on #160
Could you clarify what you mean by this @superlaziness? Aside from occasionally interruption of fast scrolling (for reasons described above) react-virtualized works fine for me in Safari with both React 0.14 and 15.0. (I do notice a bit of the jitter you mention above for React 15 dev build though.)

[2016-04-11 22:55] superlaziness commented on #160
This is clearly seen on gif I attached above. @olivierandriessen described the same issue.

When you scroll with trackpad and then lift your fingers off, Safari continues to scroll grid with inertia. At this time, the grid starts to twitch. It looks really bad :(

I'll test it in STP tomorrow.

[2016-04-12 12:41] olivierandriessen commented on #160
@superlaziness Currently I'm managing to keep the user experience acceptable by keeping the render times as low as possible. `shouldComponentUpdate` helps a lot with this.

[2016-04-12 13:30] superlaziness commented on #160
I guess I found something in componentDidUpdate method:
[code]
This block updates scroll position to one from state. State's scrollTop contains value from previous animation frame (_setNextState method). By assigning old scroll value it returns scroll several pixels back and we see those twitches.

Without this block inertial scroll doesn't work in Safari.

[2016-04-12 13:34] superlaziness commented on #160
@olivierandriessen yes, this also should be part of the solution. Can you show your workaround?

[2016-04-12 22:18] bvaughn commented on #160
Great observation @superlaziness. I've been focusing my free time efforts on the branch for #182 but I'll try to play around a bit with what you've pointed out. Maybe I can drop the animation-frame loop without negatively impacting performance? In previous testing, I've anecdotally observed that it _usually_ doesn't have much of an impact.

[2016-04-13 07:50] ifunk commented on #147
We're using it to display thousands of thumbnail images in a grid. Works really well with Autosizer and Grid components... thanks!

[2016-04-13 13:26] atuttle opened #186 "peer dep on react-addons-shallow-compare"
This dependency isn't mentioned in the readme. If it's necessary for some reason, could it be documented beyond the npm install warning?

[code]

[2016-04-13 15:48] Raffiki opened #187 "infinite scroll list data merge on loadMoreRows"
Would love to do this on [Gitter](https://gitter.im/bvaughn/react-virtualized), but that room seems unavailable.

So I have this this stupid question, wrapped in companion code on [Plunkr](http://plnkr.co/edit/HDJnQ25mPRlgln0RsP5h?p=catalogue): if `loadMoreRows` returns a `Promise` with the next batch of data, are we supposed to merge this batch onto the previous one? I guess this beats the purpos

[2016-04-13 16:00] bvaughn commented on #187
You can always directly message me on Gitter. Others do.

My guess is you forgot to load/include the react-virtualized stylesheets (similar to #157). Docs mention this [here](https://github.com/bvaughn/react-virtualized#getting-started) though it's easy to overlook or forget about. I've done it myself before.

[2016-04-13 16:03] bvaughn commented on #186
Sure. I'll add it to the readme. It used to be a `dependency` but someone recently [suggested it be moved](https://github.com/bvaughn/react-virtualized/pull/184) to avoid potentially loading different versions of it. Thanks for the suggestion.

[2016-04-13 16:03] #186 closed

[2016-04-13 16:23] bvaughn commented on #186
README has been updated: https://github.com/bvaughn/react-virtualized#dependencies

Sorry for the confusion.

[2016-04-13 23:56] bvaughn commented on #187
Closing this because I'm fairly confident my answer will help you out. Feel free to ask a follow-up question here (or [on Gitter](https://gitter.im/bvaughn/react-virtualized)) if not. :)

[2016-04-13 23:56] #187 closed

[2016-04-14 22:58] Jacob-Lynch commented on #174
@bvaughn This is the approach I decided to try as well (just not rendering them based on state).  However I get the following error when the state is false (don't render):

Uncaught TypeError: Cannot read property 'props' of null

In _createHeader() of FlexTable.js.

[2016-04-14 23:04] bvaughn commented on #174
Oh. Yes. Sorry. You should do something like this instead:

[code]

[2016-04-14 23:08] Jacob-Lynch commented on #174
@bvaughn That worked perfectly, thanks!

[2016-04-15 01:18] cpinnix commented on #147
We're using VirtualScroll for large document images. One thing I'm looking for is the ability to know when scrolling has stopped to avoid loading large images in between a large scroll. Similar to FixedDataTable's onScrollEnd. Thinking about a solution now and open to solutions as well.

[2016-04-15 01:33] bvaughn commented on #147
Sounds like you could just use a debounced `onSectionRendered` callback for that?

[2016-04-15 12:49] cpinnix commented on #147
@bvaughn Yeah. Right after posting I came up with a simple timeout solution.

`
const delay = 500;
let timeout = null;
...
_onScroll(data) {
    clearTimeout(timeout);
    timeout = setTimeout(() => {
      this.props.onScrollEnd(data.clientHeight, data.scrollHeight, data.scrollTop);
    }, delay);
  }
`

[2016-04-17 03:56] #182 closed

[2016-04-17 16:03] miguelvalerio opened #191 "Grid to Infinite Scroll"
Hello.

Currently, I have the following structure in one of my components:

[code]

In this setup, the 1st Grid is a simple 1 row Grid that acts as a header, and the 2nd Grid displays tabular data. However, the amount of data that the 2nd Grid has to render is increasing, and I would like to know if it is possible to apply an InfiniteLoader to the 2nd Grid.

[2016-04-17 16:11] bvaughn commented on #191
Hm. Good question.  The current [`InfiniteLoader` interface](https://github.com/bvaughn/react-virtualized/blob/master/docs/InfiniteLoader.md) was written with vertical windowing (eg. `FlexTable`, `VirtualScroll`) in mind and so it only mentions a single index (row index by name, but you could also use it for horizontal windowing I suppose- just not in both directions).

You could use this with a `

[2016-04-17 22:45] miguelvalerio commented on #191
Yes, in this use case all I'm interested in is asynchronously loading the rows.

[2016-04-17 23:27] bvaughn commented on #191
Great! In that event then the `InfiniteLoader` component should work well for you. Here's an [example](https://github.com/bvaughn/react-virtualized/blob/master/source/InfiniteLoader/InfiniteLoader.example.js) I put together showing how it can be used. Should be able to swap the `VirtualScroll` for a `Grid` pretty easily if you don't care about just-in-time loading columns. :)

Going to close this

[2016-04-17 23:27] #191 closed

[2016-04-18 14:37] peto-lisy opened #193 "VirtualScroll fails to render items correctly for over 559239 items"
On VirtualScroll [https://bvaughn.github.io/react-virtualized/](sample) try creating list with 1M rows.

<img width="516" alt="screen shot 2016-04-18 at 16 31 55" src="https://cloud.githubusercontent.com/assets/17004983/14607771/5cd77b8a-0583-11e6-8ffb-0b89475e207c.png">

Last fully rendered item is 559239.

Used browser: Chrome 49 on OS X

[2016-04-18 15:11] Guria commented on #193
@peto-lisy set row height to 1px and it will render more then 30M rows. The reason here is only browser limitations for container height property.

[2016-04-18 15:15] Guria commented on #193
It just pretty unnormal to have such lists, so I guess it wont-fix.

[2016-04-18 15:21] Guria commented on #193
Hmm, with http://jsfiddle.net/thai/zkuGv/4/ I have a much greater value (9007199254740992) which is a lot more achieved with `react-virtualized` demo. Though this `div` lost their background somewhere in the middle. :)

ref: http://stackoverflow.com/questions/7719273/determine-maximum-possible-div-height

[2016-04-18 16:07] bvaughn commented on #193
559,239 (rows) * 60 (row height) = ~33.5 million pixels. According to Stack Overflow, Chrome should be capable of going up to ~134 million total height. There may be other limitations regarding `scrollTop` though that I'm unaware of.

Setting the row height down to 10 pixels and the total row count to 10 million, I'm still not able to scroll past a `scrollTop` of ~33.5 million. Even trying to set

[2016-04-18 16:07] #193 closed

[2016-04-18 16:45] cesarandreu commented on #193
fixed-data-table had a similar issue (https://github.com/facebook/fixed-data-table/issues/251): after 16777200px links stop working, and after 33554450px it stops rendering.

[2016-04-18 19:17] Jacob-Lynch opened #194 "AutoSizer height not working correctly with ScrollSync?"
Hello,

I took your ScrollSync [example](https://github.com/bvaughn/react-virtualized/blob/master/source/ScrollSync/ScrollSync.example.js) and moved the `<AutoSizer>` up to just before the `<ScrollSync>`.  I enabled both height and width and passed the height down to the children.

After I do that the grids actually end up stretching a bit off the screen.  Am I doing something wrong?

Thanks!

[2016-04-18 19:21] bvaughn commented on #194
Hey @Jacob-Lynch. The `AutoSizer` shouldn't be a direct child of a flex box. This is because the flex spec indicates that containers should _grow to fit_ their largest children. The `AutoSizer` on the other hand is intended to _grow to fill_ its container. Simplest fix is to put a `<div>` in between. It will get sized by the flex layout rules and then its child (the `AutoSizer`) will grow like you

[2016-04-18 19:22] bvaughn commented on #194
Going to close this issue since it's just discussion and not something that's actionable. We can continue to chat if you have additional questions though.

[2016-04-18 19:22] #194 closed

[2016-04-18 19:34] Jacob-Lynch commented on #194
Thanks for the response!

I actually was doing this

[code]

After your response I tried this:

[code]

Now I only see the black header bar and the grid has completely disappeared.

[2016-04-18 19:35] bvaughn commented on #194
Link me to a Plunkr?

[2016-04-18 19:36] bvaughn commented on #194
PS. @Jacob-Lynch  You'll need to give your wrapper `<div>` a size in the direction not managed by flex box. So if your container is a flex column, your wrapper `<div>` will need to be given an explicit `width: 100%` style.

[2016-04-18 20:03] Jacob-Lynch commented on #194
@bvaughn Thank you for your tips, they helped me reach something that seems to be working.  I will set up a Plunkr if I run into more issues, but I found a possible solution that seems to do what I want.

I went with

[code]

[2016-04-19 09:19] kxcrl opened #196 "ScrollSync disables scroll depending on cursor target"
First, thank you very much for this project!

This is happening not just in my particular implementation of ScrollSync, but on the main github page for this repo as well (https://bvaughn.github.io/react-virtualized/)

To test, go to the ScrollSync page (on the github page for this repo), hover your cursor over the R0, C0 cell (or any cell in the C0 column, really), and attempt to scroll via mousew

[2016-04-19 09:28] kxcrl commented on #196
Of course, 5 minutes after opening this, I may have solved it on my own anyway.

Looks like my issue is with my code, but the main github page is just because the C0 column is set to have `overflow: hidden` in the styles. I'll leave it to whoever sees this first on whether they want to just close this issue or actually suggest a strategy for handling that. At least right now, I'm just planning to

[2016-04-19 12:22] kof opened #197 "Theme support: more flexible custom class names and support for inline styles"
Can we make global class names optional? There are a number of ways, for e.g. passing a theme object like react-theamable suggests.

I am using [jss](https://github.com/jsstyles/jss) and would like to have consistency in class names.

[2016-04-19 14:40] bvaughn commented on #197
Hey @kof,

Styling is kind of a difficult issue for libraries like RV because I don't think the community has really embraced a standard way of doing things. I don't think it's possible for RV to support everyone's styling approach (because they're too varied) so I tried to pick one that's the most flexible and open. A good bit of thought and discussion went into it (see issues like #48). The bene

[2016-04-19 14:48] kof commented on #197
I think there is a universal way which will work for every one: allow components to accept a `theme` object which is a map of names and class names:
[code]

This allows to pass default global class names by default as it is right now and at the same time overwrite  everything by a user.

[2016-04-19 14:50] bvaughn commented on #196
Hey @kxcrl. Thanks. :)

I actually intentionally disabled scrolling in the far left and top (fixed) grids although I can totally understand why you may think of it is as a bug. It's not an attribute of the `ScrollSync` component though- just the way I chose to use it (aka my CSS) in the example file as you've probably noticed. `ScrollSync` itself doesn't disable anything (or set any properties of

[2016-04-19 14:50] kof commented on #197
yes, but not to all of them and global classes are still a problem then.

[2016-04-19 14:52] bvaughn commented on #196
By the way, I would advise against adding a wheel handler. Attaching a wheel handler forces the browser to scroll in the UI thread which can cause noticeable performance issues for larger grids.

Instead just attach the `onScroll` callback to each of your `Grid`s if you want them all to be scrollable. Something like this:

[code]

[2016-04-19 14:53] bvaughn commented on #196
I'm going to close this since there's nothing actionable for me to do (other than perhaps update my demo/example code). But feel free to continue asking questions if you have any. :)

[2016-04-19 14:53] #196 closed

[2016-04-19 15:11] kxcrl commented on #196
Oh wow, thank you for the very rapid and in depth response. Thanks also for the heads up about the performance issues. I'll be taking your advice and just hiding the scrollbars instead. No further questions. = )

[2016-04-19 15:43] bvaughn commented on #197
Sure, that's true. I only added custom `className` support for what I saw as the biggest value components to avoid props-explosion.

You say global classes are "a problem" but... why? If you're using JSS or CSS-modules their presence shouldn't affect you since both allow you to namespace your application styles.

I don't want to go the route of react-theamable in this case. I think it works well f

[2016-04-19 15:54] kof commented on #197
Imagine the a case where external components or widgets are used at the same time. You can never know what class names they use. Also it's just not nice to have them around when there is an easy way to get rid of them.

Regarding breaking changes: I totally see we can do it very nice and without breaking changes.

Theme is an object with a given interface which can be validated. If user passes a t

[2016-04-19 20:02] bvaughn commented on #143
Quick update to this issue in case anyone else sees it and is curious. react-virtualized now supports a custom renderer prop- `renderCellRanges`. This function is responsible for rendering (and positioning) the visible range of cells. Its signature is:

[code]

`Grid` provides a default implementation of this (obviously) but you can override it if you want to render customized UI along with your c

[2016-04-19 20:36] superlaziness commented on #160
Hi! I forgot to tell that I made a quick-duct-tape-fix for this problem:
`this.refs.scrollingContainer.scrollTop = scrollTop; —> this.refs.scrollingContainer.scrollTop++;`
It works fine for me. I do not know how it affects issue #2.

[2016-04-19 20:40] bvaughn commented on #160
Doesn't that assume that scrolling is always in the downward direction (and at a constant rate)?

[2016-04-19 20:50] superlaziness commented on #160
Nope! It shifts scroll by one pixel than expected. That is allow browser to continue scroll animation. And 1px shift is actually invisible.

[2016-04-19 21:59] olslash commented on #174
Can we do something to make the former case work? ie `{maybeColumnA && <FlexColumn/>}`

Ran into this today and that style enables a much more idiomatic api than building an array.

[2016-04-19 22:04] bvaughn commented on #174
@olslash, sure that seems reasonable. I'll re-open this issue for that then.

[2016-04-19 22:06] bvaughn commented on #160
Hm. I'm wary of that approach because of its potential impact for issues like #2 but also because of its potential impact on things like 1pixel borders. It's interesting to note though.

I don't have the bandwidth to dive back into scrolling issues at the moment so I'm going to leave this sit for a while. We'll see if others have insight. :)

[2016-04-20 02:56] bvaughn commented on #197
I understand that there's potential for conflicting class names. That's a limitation of static class names, yup. On the other hand, it's already broadly in use and (up until this point) I haven't heard of any conflicts. So it seems a little bit more like a conceptual problem than a practical one.

I don't mean to write off your observation that it's not ideal. I love CSS modules for what it's wort

[2016-04-20 07:04] kof commented on #197
Sorry, its probably my bad in explaining those ideas. I will prototype something so that you can see it in code.

[2016-04-20 15:13] Sigura opened #198 "InfiniteLoader, how could I get current range?"
Hello,

first, thank you for you wonderful work!

Just a question, my case with InfiniteLoader:
1. scroll to any positon
2. click to sort of any column
3. reset list to empty

then load happen, but only with previous range of loading, without isRowLoaded calls.
then ~half of screen is still empty

react-virtualized 6.0.7

questions:
1. how I could now current visible range
2. or What I could do to

[2016-04-20 16:16] bvaughn commented on #198
Hey @Sigura,

It's much easier for me if you can share a Plunker (or even a fork of react-virtualized) demonstrating your problem. That way I can look at the code and see what's happening. Any chance you can do that?

Also, it probably doesn't hurt to update to the latest release considering it's backwards compatible with what you're running. That way we can at least rule out any bugfixes that may

[2016-04-20 16:21] Sigura commented on #198
@bvaughn it's not so easy to make a sample. And I really could not undestand why you do not understand case.

Anyway:
* I could not use lattest release I have a lot of dependancies to React 0.14.8
* I found workaround: scrollToIndex=0 + manaly change range to 0-50

[2016-04-20 16:33] bvaughn commented on #174
FYI @olslash ~ version 6.2.1 was just released with support for this.

You can see a demo of it in the updated `FlexTable` demo page: https://bvaughn.github.io/react-virtualized/?component=FlexTable

[2016-04-20 16:33] #174 closed

[2016-04-20 16:37] bvaughn commented on #198
@Sigura I get asked a lot of questions about this library. I try to help answer every one. This takes a decent amount of time (my personal time, not time I'm being paid for). So in return I often ask for people to take the time to create an example of the bug they're reporting because (a) it makes things easier on me to reproduce and identify a problem and (b) it rules out simple mistakes that a u

[2016-04-20 17:03] Sigura commented on #198
@bvaughn

hm... I got a lot of errors why I tried to install latest. Ok, I will try again.

Understandable. As I said thank you for your wonderful work.

Please, don't worry. I will try to update and then I will try to reproduce issue.

If case will reproduced... anyway don't worry.

[2016-04-20 17:47] bvaughn commented on #198
No worries. Thank you. :)

I'm going to close this issue for the time being since you've found a workaround. If you are still able to reproduce the issue and are willing to share a Plunkr (or something similar, even a fork of react-virtualized like I said) with me then I'll reopen it and take a look.

[2016-04-20 17:47] #198 closed

[2016-04-20 18:42] olslash commented on #174
I nominate @bvaughn for OSS project maintainer of the year 🎉 👍

[2016-04-21 19:22] kof commented on #149
http://facebook.github.io/fixed-data-table/ offers this feature, any body looked into that how they do it?

[2016-04-21 19:26] bvaughn commented on #149
fixed-data-table doesn't support other properties that react-virtualized does (like programmatically scrolling a cell within view) so their use case is probably easier than mine. But no, I haven't looked too closely at their implementation in a couple of months.

[2016-04-21 19:29] kof commented on #149
They didn't commit anything since 5 months, I am not sure it is maintained, but maybe, just maybe, they have good ideas regarding this particular thing.

[2016-04-21 19:32] bvaughn commented on #149
I didn't mean to suggest they didn't. But this project is only maintained by me in my free time so I just haven't had the bandwidth to really bite this size of a feature off yet. Not sure when I will.

[2016-04-21 19:33] kof commented on #149
Can we access this things currently?
1. get the rows that currently in the window
1. get the speed of current scrolling
1. update them with new height/width values

If yes I could do the following:
1. If speed is higher than X, return  some fixed height/width
2. once speed gets slow enough, start calculating sizes and update it with new sizes
3. when speed is real high, we could even avoid rerende

[2016-04-21 19:38] bvaughn commented on #149
This is possible via the [`onSectionRendered` callback](https://github.com/bvaughn/react-virtualized/blob/master/docs/Grid.md) for `Grid` (or `onRowsRendered` if you're using `VirtualScroll` or `FlexTable`).

No, this information is not available although you could certainly implement it with a HOC using the [`onScroll` callback](https://github.com/bvaughn/react-virtualized/blob/master/docs/Grid.m

[2016-04-21 19:42] kof commented on #149
Maybe we don't need to know if it is really visible, we can calc heights for all rows in the window. We just need to keep window not too big, because otherwise there will be a bigger overhead.

I am  not sure how visible would be the flickr, because rows will be already rendered with some fixed height and then once we know the real height, rows gets resized.

[2016-04-21 19:46] bvaughn commented on #149
This would require rendering _all_ of the cells which would defeat the purpose of the windowing approach.

[2016-04-21 19:48] kof commented on #149
Why all, we have a fixed amount of rows we render in the window, which is based on the initial row height, right?

[2016-04-21 19:56] bvaughn commented on #149
We're misunderstanding each other somewhere. I think you're over-simplifying this a bit, but I think continued discussion of it via the GH issue probably isn't going to be as effective as just chatting. Feel free to hop on the Gitter room if you'd like to talk about it more. :)

[2016-04-21 21:01] Staikov opened #199 "Hide the scroller of VirtualScroll"
Hi,

First of all thanks for the great tool. It super easy for use and it is working very smooth. However I have problem with hiding the scroller of VirtualScroll can you give me some advices ?

I'm using it like this:
[code]

[2016-04-21 21:04] bvaughn commented on #199
I'm not sure I understand what you mean. Hide the scrollbar? This can be done by CSS, no?

[2016-04-21 21:07] Staikov commented on #199
Yes but when I try to edit the CSS to hide the scrollbar the VirtualScroller stop working.
I saw that the VirtualScroller is generating 2 div:  <div class="Grid VirtualScroll" ... > and <div class="Grid__innerScrollContainer" >  What i have tried is the following css:

[code]

This is hiding the scroller but after that the Grid__innerScrollContainer can not be scrolled.

[2016-04-21 21:16] bvaughn commented on #199
That's because that CSS disables scrolling. You don't want to do that. You want to hide the scrollbar (presumably?).

For that you should look at an approach more like this: https://css-tricks.com/examples/WebKitScrollbars/

I'm going to close this issue by the way since it doesn't seem actionable on my part. :)

[2016-04-21 21:16] #199 closed

[2016-04-23 03:30] Surreal9 commented on #134
I've run into this, where I am implementing my own sorting and not seeing my changes being updated with VirtualScroll. How would I call recomputeRowHeights on my VirtualScroll component, which is being wrapped by InfiniteLoader (and getting it's ref set to registerChild)? Or how else can I force a render?

[2016-04-23 03:47] Surreal9 commented on #134
I guess I can just fork this lib to take advantage of the fact I have immutable data and implement shouldComponentUpdate to not use shallowCompare

[2016-04-23 04:10] bvaughn commented on #134
I assume you mean that you're using _mutable_ data?

Either way, you're obviously free to fork react-virtualized if you would like but I think that would be unnecessary and overkill. You can still use references to children created by child functions (like those of `InfiniteLoader`). It's pretty simple actually:

[code]

At this point if you need `VirtualScroll` to recompute its metadata it's just

[2016-04-23 04:21] Surreal9 commented on #134
No I'm using immutable data, so I can simply use an equality check to see if props have changed. Currently you're using shallowCompare, which looks at arrays and says "if they're the same length, the contents probably haven't changed".

In any case, from the sounds of it registerChild isn't necessary then, and I can use my own ref?

[2016-04-23 04:24] Surreal9 commented on #134
All I know is this fixed it: https://github.com/Surreal9/react-virtualized/commit/b9df4c02af32674e42197cd50c5afd90aa2a663b

[2016-04-23 04:25] Surreal9 commented on #134
I don't mean to sound unappreciative by the way, you've done a great job on this lib and the examples and docs are pretty great as well.

[2016-04-23 04:39] bvaughn commented on #134
React's `shallowCompare` add-on [replaced @gaearon's `react-pure-render` mixin](https://github.com/gaearon/react-pure-render#no-maintenance-intended). The whole purpose of both of these add-ons is to avoid rendering _unless_ prop instances have changed. This means it _works_ with Immutable data but it _doesn't_ work with mutable data (eg. Arrays).

Taken from [the docs](https://facebook.github.io/

[2016-04-23 04:53] Surreal9 commented on #134
Ah, I see, I misread the source for shallowEqual (which is what shallowCompare uses); I'm not too sure why my fix works then and that didn't. In any case, I'm not too sure how I would know when to call recomputeRowHeights. I'm using Redux so the API call is happening in an action, and the state is in a reducer (and none of these have access to the component or its refs). Unless I do something hack

[2016-04-23 04:59] Surreal9 commented on #134
Perhaps in componentWillReceiveProps..

[2016-04-23 04:59] bvaughn commented on #134
It's okay. Even the Facebook docs are worded confusingly on that helper method in my opinion.

Hm. In my apps, all of my sortable lists are based on `FlexTable` which itself has a `sortBy` and `sortDirection` property. (If either of those change then `shallowCompare` acknowledges the need for a render.)

In your case, if your rows are all a constant height then I think you can skip the recomputing

[2016-04-23 05:07] Surreal9 commented on #134
Cool yeah it looks like adding your ref (although I pulled that out to a component function so as to avoid an arrow function in render.. I don't know why FB docs AND Redux docs recommend that which is considered bad practice and gets called out by eslint..) and then adding this works:
[code]
In that way whether it's new data being loaded in, or sorting or filtering being changed, it all gets picke

[2016-04-23 05:10] bvaughn commented on #134
Yeah, sorry for writing the shorthand in my example. It's just so much more succinct- it's an easy thing to do. :)

Glad you got it worked out!

[2016-04-23 18:47] kof commented on #197
I have created a pull request on another project regarding theming, we can do here exactly the same https://github.com/elementalui/elemental/pull/150/files

[2016-04-24 16:02] bvaughn commented on #197
Hi @kof.

Thanks for the update. Read your PR and the discussion attached, and the spec you linked to. It all looks pretty solid.

I have a concern for react-virtualized usage though. I mentioned it [before](https://github.com/bvaughn/react-virtualized/issues/197#issuecomment-211986300) but it will be easier to talk about now that I can see code. With the PR you linked to, I think it would be more

[2016-04-24 19:23] raphaelokon opened #201 "Unmet peer dep for react 15.0.1"
I am getting this on install:

`npm WARN react-virtualized@6.2.2 requires a peer of react-addons-shallow-compare@^0.14.0 || ^15.0.0 but none was installed.`

[2016-04-24 22:12] bvaughn commented on #201
Unfortunately you'll need to install that yourself. All of the react NPM
packages need to be specified as peer dependencies to avoid version
conflicts from loading more than one copy. This is mentioned in the README
although I understand it's easy to overlook.

On Sunday, April 24, 2016, Raphael <notifications@github.com> wrote:

[2016-04-24 22:19] #201 closed

[2016-04-25 07:43] cosminnicula opened #202 "Debounce InifiniteLoader's loadMoreRows"
While playing around with the `InifiniteLoader`, I noticed the following: while scrolling down into the list that's powering the InfiniteLoader example, `loadMoreRows()` can be called a large number of times with the ranges (`startIndex` and `stopIndex`) that are related to the scroll position. To see exactly what I mean, I inserted a `console.log(startIndex + '-' + stopIndex + ' -> make a server

[2016-04-25 16:13] EvNaverniouk opened #203 "AutoSizer explodes if mounted then unmounted quickly"
I have a hard time creating a simple, reproducible test case for this, but often in our app we see this error coming from the `AutoSizer`:

[code]

This usually occurs if an auto-sized element (like the FlexTable) is mounted and then immediately unmounted into the DOM.

The error comes from the `componentWillUnmount` function in the `AutoSizer` which read runs.

[code]

I'm wondering... would it b

[2016-04-26 01:43] MikeMcElroy opened #204 "Best practices on using inline styles for a FlexColumn?"
We use Radium for style management, and the emphasis there is on inline styles over classes.  What's the best way for me to use inline styles with a FlexColumn.  eg.
[code]

[2016-04-26 03:20] MikeMcElroy commented on #204
In the process of looking over this closer, I think I found the appropriate change should you want to support this.
#205

[2016-04-26 03:55] bvaughn commented on #203
Thanks for the bug report and the extra information @EvNaverniouk! I'll get out a bug-fix release tonight for you. :)

[2016-04-26 04:34] bvaughn commented on #202
Hey @cosminnicula,

Thanks for taking the time to create this issue and explain your thinking. :)

I understand the current implementation of `InfiniteLoader` is a bit limited. I felt it might be best to leave control over debouncing or batching requests to the end user rather than try to guess at how you might want to do it.

It's actually pretty complicated to ensure that requests are batched in

[2016-04-26 05:21] bvaughn commented on #202
Check out the new 6.3.0 release. `InfiniteLoader` now has a new property, `minimumBatchSize`. This defaults to 10. It will let you batch rows the way you're asking. :)

[2016-04-26 05:21] #202 closed

[2016-04-26 05:21] bvaughn commented on #203
Check out the new 6.3.0 release. It has your bugfix.

[2016-04-26 05:21] #203 closed

[2016-04-27 05:16] cosminnicula commented on #202
Thanks @bvaughn  :thumbsup:

[2016-04-27 06:56] MikeMcElroy commented on #103
Just banged my head against the wall just to find out that the header row needs `box-sizing: border-box` set, or the padding of size `scrollBarWidth` isn't taken into account.  I'd love to make a react.run or plunk of this behavior, but I have no idea how to make it work with any of those services -- if you have an example I could fork from one of those, @bvaughn, that'd be awesome.

[2016-04-27 22:13] bvaughn commented on #103
@MikeMcElroy Easiest way to create a sharable Plunker is probably to just fork one of my playground files: https://github.com/bvaughn/react-virtualized/tree/master/playground

[2016-04-29 04:37] MikeMcElroy commented on #147
We've settled on RV for our big React-based work project, and we've just settled on a series of patterns for our uses.  We have chosen patterns for our tables, so a lot of options are unnecessarily verbose, and we didn't want to have to educate our devs on all of the features, so we decided to build a small DSL which simplifies about 75% of the usage of FlexTable/FlexColumn.

Issues:
* Inline styl

[2016-04-29 04:39] bvaughn commented on #147
Happy to hear that you've chosen to go with RV Mike! I think we can definitely improve a few of the points you've mentioned. Welcome onboard. :)

[2016-04-29 12:11] edulan commented on #150
We've experienced the same issue while mounting and unmounting components very fast. We think the issue may be related to `getComputedStyle` call used in `_onResize` callback:

[code]

And then when calculating `paddingLeft` parsing fails evaluating an empty string, which results in `NaN`:

[code]

This only happens on an element that's not been added yet to DOM. What do you think @bvaughn?

cc @a

[2016-04-29 13:03] andresgutgon commented on #150
This method:
https://github.com/bvaughn/react-virtualized/blob/master/source/AutoSizer/AutoSizer.js#L93

[2016-04-29 15:10] bvaughn commented on #150
Ah, that's tricky... the `_onResize` method is only called from within `componentDidMount`, which I assumed meant it was mounted. But you're seeing it rendered and then not mounted (presumably because a parent component causes a state-change/unmount)?

I guess we could add a check there.

[2016-04-29 15:12] andresgutgon commented on #150
Thanks @bvaughn 👏

[2016-04-29 22:56] bvaughn commented on #150
Should be fixed via release 6.3.1. Please let me know if you're still seeing it, @andresgutgon and @edulan

[2016-04-29 22:56] #150 closed

[2016-04-30 12:18] pke opened #208 "Support for inline styles"
I wonder if there is support for inline styles planned in addition to `className`.
I have my app bootstrapped to set all `div` to be `flex` containers and with position `relative`.
Of course this does not work well with `VirtualScroll` because it gets its calculations wrong with the relative positioning.

[2016-04-30 14:51] bvaughn commented on #208
Hey @pke,

Check out the discussion over on #197 (and also the [version 7 roadmap](https://github.com/bvaughn/react-virtualized/wiki/Version-7-Roadmap)).

tl;dr though is that I plan on changing react-virtualized for version 7 to support a `theme` property that will allow either custom styles or class names.

Going to close this issue as a duplication just to keep things tidy. :)

[2016-04-30 14:51] #208 closed

[2016-04-30 14:52] bvaughn commented on #197
I realize this morning that it's perhaps a little ambiguous to anyone seeing only the discussion on this issue- but I've decided to move forward with the theming approach we're discussing (or at least one similar) as part of the version-7 update that I'm currently working on.

[2016-04-30 14:56] cyberxndr commented on #138
Need to notice that the div from the example should be replaced with a span to avoid onclick dead zones (such as div is a block element).
[code]

[2016-04-30 14:59] kof commented on #197
Can we collaborate on [theme-standard](https://github.com/kof/theme-standard) at the same time? Means adding docs there and defining the workflow for theming in general.

[2016-04-30 15:03] bvaughn commented on #138
Nice catch, @cyberxndr.

[2016-04-30 15:07] bvaughn commented on #197
@kof I'm not sure if the idea of supporting "themeable" things like colors, fonts, etc. really applies to react-virtualized. I was considering for inspiration something like [alexkuz/react-json-tree](https://github.com/alexkuz/react-json-tree#theming) minus the base16 theme bit since react-virtualized doesn't really have colors.

What did you have in mind in terms of collaboration though? I'm a fa

[2016-04-30 15:15] kof commented on #197
Will ping you on gitter.

[2016-04-30 18:19] cyberxndr commented on #103
There is a related issue. Header overflow appears in cases when FlexTable rendered inside a parent with width < 100%.

Please, check the following files to get the details (run them from the playground directory).
https://gist.github.com/cyberxndr/d01226de6f9ea15fe64de81c8b425a24
https://gist.github.com/cyberxndr/e662e00a9d6c49a18641a8ce8e3528e6

`* { box-sizing: border-box }` solves the problem.

[2016-05-01 13:10] wasd171 commented on #149
Just saying that I would also really like to have such feature implemented! So much data with approximate height(s) need to be rendered efficiently

[2016-05-01 15:30] bvaughn commented on #149
Hoping this makes its way into version 7. Myself and @kof are working on it from different angles.

[2016-05-02 00:40] smitch88 commented on #147
I've been using RV in the clojurescript world and just added a PR into [cljsjs package repo](http://cljsjs.github.io/) so it can be packaged a bit easier for cljs usage.

I was using fixed-data-tables but I like your generic row buffering component `VirtualScroll` so I'm building a couple wrappers components around that and utilizing your `FlexTable` for some data grids.

My main Issues but not re

[2016-05-02 10:03] edulan commented on #150
Wow, thanks for your super fast response @bvaughn :clap:

Your fix seems to be working great, but we're now facing this error:

[code]

while evaluating [this](https://github.com/bvaughn/react-virtualized/blob/master/source/vendor/detectElementResize.js#L39). Somehow `__resizeTriggers__` is set to `false` value.

This bug seems totally unrelated with react-virtualized and it's more a javascript-de

[2016-05-03 14:43] mwilliamson-healx commented on #120
Horizontal scrolling, along with being able to set fixed columns, is something that would be useful for me at the moment. We're currently using FixedDataTable, but looking at alternatives since it appears to be unmaintained and has a few bugs.

Putting the FlexTable into another scrollable container doesn't work since the vertical scrollbar is then not visible until you scroll right.

One thought

[2016-05-03 14:54] bvaughn commented on #120
@mwilliamson-healx: You actually have 2 options for this.

One would be to use two `Grid`s - one as a fixed header and one as a body - and the `ScrollSync` component to sync their scrolling (see [demo](https://bvaughn.github.io/react-virtualized/?component=ScrollSync), [source](https://github.com/bvaughn/react-virtualized/blob/master/source/ScrollSync/ScrollSync.example.js), [docs](https://github.

[2016-05-03 14:56] mwilliamson-healx commented on #120
Ah, I was just in the middle of trying to do something with synchronized scrolling, but was just hoping that there was a simpler solution. Still, I think what you've described makes sense and shouldn't be too much trouble. Thanks for the helpful (and speedy!) reply, and indeed the entire library!

[2016-05-03 15:04] bvaughn commented on #120
Happy to help :)

[2016-05-03 16:05] Pixlschmied opened #210 "How to update a row in a VirtualScroll Component?"
Hi,
The VirtualScroll component calls the "rowRenderer" callback function just on scroll. I have a click listener that updates the row, how's it possible to force the rowRenderer to be called?

I have prepared a very simple jsfiddle example to demonstrate the issue i'm currently struggling with:
https://jsfiddle.net/zob62mu6/3/

Appreciate any help!

[2016-05-03 16:31] bvaughn commented on #210
Here you go: https://jsfiddle.net/bvaughn/db5mas0t/

Just add a ref (eg `ref='VirtualScroll') to your `VirtualScroll` and then tell it it needs to update in your on-click handler:

[code]

[2016-05-03 16:31] #210 closed

[2016-05-04 19:48] kof opened #212 "Infinite scroll in reverse order"
Hi, first about my use case:
I am building a chat app. Which means it is essentially important to:

- be able to render a huge amount of rows
- be able to request additional rows
- be able to jump in the middle of a 1 year long conversation

This means that the list we are going to render is potentially just a fragment of a very long list, there are rows after what we have got and there are rows b

[2016-05-04 19:54] kof commented on #212
So the missing part is right now the ability to scroll up, everything else works already.

To go more technically:

- when adding rows at the beginning of the list, scroller stays at the same place, it need to go scrollTop + addedRowsHeight
- InfiniteLoader logic needs to scan for unloaded ranges correctly considering scroll direction.

[2016-05-04 20:02] kof commented on #212
This means that startIndex and stopIndex can actually become negative numbers.

[2016-05-05 05:10] bvaughn commented on #212
Hey @kof,

Reading this feature request, I wonder if you've considered doing something like...
* Listen to `onRowsRendered` to detect when row 0 is displayed. (This would be your tip to load older rows.) Row 0 might be an actual chat log message or a placeholder "Load older messages" indicator.
* When a set of older rows finishes loading, add them to the beginning of your List/Array- and give `Vir

[2016-05-05 06:15] kof commented on #212
I have created my IniniteLoader based on the original one. However I can't imagine this is an edge case. This is nothing else but a very long list where you jump in the middle of it. and want to go back.

Imagine google search with 100000 results and you can't load them on. Now you are on page x and want to go back. With pager you just click on the previous pager. Exactly the same is here.

[2016-05-05 08:08] DmitroPustovit opened #214 "Upgrade react dependencies to 15.0.1"
Hello,

I want to use your library in my project, but I use react 15.0.1 and can't downgrade to 15.0.0 because of bug in this version. It's possible to update yours dependencies to 15.0.1 ?

Thanks

[2016-05-05 09:38] kof commented on #212
This was my first idea and resulted in junked scrolling, because:

1. I start loading items before the first row is rendered, same logic we have right now, uses `threshold` param.
1. Once loading is done, scroll position has evtl. changed, so now I need to set scrollTop = newRenderedRowsHeight + previousScrollTop

[2016-05-05 11:25] yakirn opened #215 "VirtualScroll rowRenderer method is called many times while scrolling"
Hi
I explained my issue here:
http://stackoverflow.com/questions/37049280/virtualscroll-rowrenderer-method-is-called-many-times-while-scrolling
but there's no react-virtualized tag, and I can't add one because I don't have enough SO points, so i'm also posting it here :)
I Would really appreciate any input on this, so comment wherever it seems right for you.
Thanks in advance!

[2016-05-05 13:52] brandonchoe commented on #120
I'm having trouble using `renderCellRanges` to render a fixed header. Is there an example in the docs? I couldn't find one.

[2016-05-05 15:11] felipeleusin commented on #214
This shouldn't be an issue. Are you getting an error or something?

[2016-05-05 15:15] bvaughn commented on #214
@DmitroPustovit: `react` is just a peer dependency, meaning that `react-virtualized` doesn't install it; it just expects you to. As for the version, my `package.json` is setup to match with ` "react": "^0.14.0 || ^15.0.0"` which means any bug-fix version of 0.14.x as well as 15.0.x and up. You should be able to use 15.0.1 just fine but you'll need to install it yourself, with your own `package.jso

[2016-05-05 15:15] #214 closed

[2016-05-05 15:24] bvaughn commented on #120
@brandonchoe  No example in the docs currently. If you want to put together a Plunker to share with me I'd be happy to take a look.

[2016-05-05 15:27] bvaughn commented on #212
It doesn't seem like the same thing to me @kof. Google doesn't show you the middle results as page 0 (or 1).

Everything component and utility in react-virtualized is written to work with a list or array- things that don't make sense when we start talking about negative indexes. Despite what you say, yours is the first request I've _ever_ received to support negative indexes.

[2016-05-05 15:34] bvaughn commented on #215
Looks like Guria beat me to it and has created a `react-virtualized` for you.

I'm going to close this issue and head over to Stackoverflow since we don't need both open. :)

[2016-05-05 15:34] #215 closed

[2016-05-05 19:20] brandonchoe commented on #120
Well, I'm not sure what the right approach is. I naively thought that I just had to add a conditional to the default `renderCellRanges` that checked if the `rowIndex` matched the `rowStartIndex`, then render a header or body cell accordingly. It does sort of work, but instead of remaining static, the "header" is just the first visible row. So, when you scroll down, the "header" jumps down the rows

[2016-05-05 19:28] bvaughn commented on #120
If you'll share what you've done, via Plunker (or similar), I'll take a look and make suggestions. :)

Fairly swamped at the moment though so I don't have the bandwidth to put together examples myself. Sorry! :(

[2016-05-05 19:38] brandonchoe commented on #120
I'm not sure how to use Plunker, but here it is: https://plnkr.co/edit/RqW1TG4j0dro7eCrKlW2?p=preview
I'm pretty sure this is not even in the right direction.

It's okay! You're real responsive. Plus, it's not urgent - I'm currently using the two Grids method, which is working for now.

[2016-05-05 19:43] bvaughn commented on #120
@brandonchoe It's probably easiest to copy one of these files:
https://github.com/bvaughn/react-virtualized/tree/master/playground

Just swap out my JS rendering with yours. If you need to, run it through [Babel](https://babeljs.io/repl/) first (be sure to check "react").

[2016-05-05 19:45] brandonchoe commented on #120
Huh? None of these use `renderCellRanges`. Am I missing something here?

[2016-05-05 20:16] bvaughn commented on #120
I was pointing you at a quick HTML and JS setup that could be put in Plunker in order to create something that you can show me, and I can run and see in the browser. What you linked me to on Plunker above doesn't run.

[2016-05-05 20:49] brandonchoe commented on #120
I can't get Plunker to work. Besides, I don't have anything to show. Thank you for trying! I'll be sure to come to you once I make some progress or figure out Plunker. I'll just go with the two Grids for now.

[2016-05-05 21:03] bvaughn commented on #120
No worries. If I find time to put together an example for you I will. :)

On Thursday, May 5, 2016, brandonchoe <notifications@github.com> wrote:

[2016-05-06 17:21] kof commented on #212
Well imagine you got a link to the page 100. You don't load all the results before, right?

Well maybe negative indexes isn't the right approach anyways. My interest is to unlock the use case. How is a different question.

[2016-05-06 17:41] bvaughn commented on #212
I mentioned a potential workaround using `scrollToIndex`. I understand your concern about `scrollTop` maybe having changed while the older chat records were loading but I still think that's the best approach. Maybe an improvement to my original suggestion would be...

* Treat row 0 in your list as a place holder and render a "Loading more rows..." in it.
* Listen to `onScroll` to detect when `scro

[2016-05-06 17:43] bvaughn commented on #103
Hey @cyberxndr Been sick and a little swamped at the moment. What free time I do have has been focused on the v7 update. Please file a new issue for this.

As a side note, it would be nice if your files were runnable directly from rawgit (eg [here](https://rawgit.com/cyberxndr/d01226de6f9ea15fe64de81c8b425a24/raw/6bf567e1903e15eec065944dbff0fe52b221f4de/example.html) as that would save me a tiny b

[2016-05-06 17:59] brandonchoe commented on #120
Don't worry about it! After talking to my friend, I think we're better off with a Collection, rather than a Grid. But I appreciated your time.

[2016-05-06 18:00] bvaughn commented on #120
👍 Sounds good.

[2016-05-06 18:46] kof commented on #212
additionally `threshold` option would mean that loading is started before scrollTop is 0, once everything is loaded I would need to know how many elements will be rendered to scroll to the last position.

[2016-05-06 18:48] kof commented on #212
not exactly right, we render less than we load, which means I need to calculate height of __newly-rendered__ rows.

[2016-05-06 19:25] bvaughn commented on #212
So implement your own `threshold` ? That doesn't sound that complicated. Doesn't seem like too much burden to put on application code.

That's not how RV components work. To render (and position) row N you need to have measured rows 0...N.

[2016-05-07 20:51] rodrigocorsi2 opened #217 "InfiniteLoader when scroll reverse do not respect minimumBatchSize"
If you test [InfiniteLoader.example.js](https://github.com/bvaughn/react-virtualized/blob/master/source/InfiniteLoader/InfiniteLoader.example.js) with some changes:

change line 26
[code]

add a `console.log` line 122
[code]

when you scroll in reverse direction you can see the increment is always 1.

how can I do `InfiniteLoader` respect `minimumBatchSize` in both directions?

[2016-05-08 00:26] bvaughn opened #218 "Grid does not properly update scroll offsets when transitioning from no columns+rows to having some columns+rows if a scrollToRow or scrollToColumn is set."
Steps to reproduce (using the [test harness](https://bvaughn.github.io/react-virtualized/?component=Grid)):

1. Set scroll-to-row to 100
1. Set number of rows and columns to 0
1. Set number of rows to 150
1. Set number of columns to 150

At this point the correct cells will be rendered but the `Grid`'s scroll-top will be 0 so the cells will not be visible. Scrolling slightly will correct things.

[2016-05-08 00:27] bvaughn commented on #217
Looks like a bug.

My hands are pretty full with the [version 7](https://github.com/bvaughn/react-virtualized/pull/206/) update  at the moment so I'm probably not going to get to this for a couple of days.

[2016-05-08 00:30] bvaughn commented on #162
Closing this issue since version 7 implements cell-caching.

[2016-05-08 00:30] #162 closed

[2016-05-08 00:36] bvaughn opened #219 "Handle larger scroll sizes than browser supports natively"
Browsers have maximum scroll offsets, after which the user is unable to scroll further _or_ programmatically increase the offset.

To see this, go to the [`VirtualScroll` test harness](https://bvaughn.github.io/react-virtualized/?component=VirtualScroll), set the number of rows to 1,000,000, and scroll to the bottom. Somewhere in the middle (eg row 559,239) the browser will stop scrolling.

We sho

[2016-05-08 17:50] tbranyen commented on #219
I'm tackling the same problem currently with https://github.com/tbranyen/virtual-list/tree/custom-code. This uses a hidden element with a very large height to simulate the virtual area. I came across your Stack Overflow response and figured you might be searching around the same information I am.

I've tried stacking these hidden elements with the max browser height, like 33554398px in Chrome, but

[2016-05-09 01:57] brandonchoe opened #221 "InfiniteLoader + Collection"
Do they work together? Are sections the same as rows? Hey!

[2016-05-09 02:04] bvaughn commented on #221
Unfortunately they do not work together. InfiniteLoader loads rows as a user scrolls them into view. But a Collection's cells aren't in any particular order. The first cell may be top left and the a one may be bottom right. There is no way for InfiniteLoader to work, given the lack of constraints.

[2016-05-09 02:04] #221 closed

[2016-05-09 02:05] bvaughn commented on #221
I will update docs to make this clearer.

[2016-05-09 03:16] bvaughn commented on #204
Version 7 supports what you've proposed so I'm going to close this issue. Look for a release of it momentarily. Thanks for the suggestion, @MikeMcElroy.

[2016-05-09 03:16] #204 closed

[2016-05-09 03:31] bvaughn commented on #219
Hi Tim,

I've tested this in a local branch with react-virtualized and it seems to work pretty well. Basically I pick a threshold (eg. 30,000,000) and if the size is less than that I don't do anything. If it's more I shift cells slightly as a user scrolls. In my testing, it doesn't seem that bad. (Scrolling a list that large isn't a great experience anyway IMO, but it's not noticeably worse.)

I n

[2016-05-09 03:39] tbranyen commented on #219
Nice! I tried a few things last night and wasn't happy with anything. My current thinking is to warn if you exceed the browser's maximum and to recommend lowering the item height. I was able to comfortably load 2 million rows with an item height of 12 and 3 million rows with a item height of 10. So it's definitely possible to load huge amounts of data, but not with 50px item heights.

I'm looking

[2016-05-09 03:41] bvaughn commented on #212
I don't think there's any action for me to take on this issue at the moment so I'm going to close it. We can continue discussion though- I just like to keep the issues list pruned.

[2016-05-09 03:41] #212 closed

[2016-05-09 03:45] bvaughn commented on #197
I've decided not to move forward with a theme object after much consideration. I _have_ however added inline style support to the upcoming version 7 release (currently available on NPM as version `7.0.0-rc.1`). I appreciate all of the thoughtful discussion and ideas.

It was a difficult decision, but I feel the existing interface for specifying custom classnames for react-virtualized components is

[2016-05-09 03:45] #197 closed

[2016-05-09 03:47] bvaughn commented on #219
Out of curiosity, were you able to find a definitive list of max sizes per browser? I know from testing what Chrome's limits are, but I wasn't able to find them mentioned online anywhere. Maybe I'm just looking in the wrong places.

:)

[2016-05-09 04:34] tbranyen commented on #219
Yeah the demo I saw was to create an element in the DOM set its height to 1 billion px and then read back the offsetHeight or clientHeight properties after maybe a rAF or something. I think if you read it back synchronously it will be the exact number you give it (not accurate). Maybe reading the ClientRect.height value from getBoundingClientRect could work synchronously, I haven't tried yet.

[2016-05-09 06:01] bvaughn commented on #215
Hi @yakirn,

Not sure if you saw my message on Stock Overflow, but if you would be willing to share any code samples with me regarding your slow render problem- I'd love to compare version 6 and 7 and see if it's been improved any.

Also, I published version `7.0.0-rc.1` to NPM this evening so feel free to check it out yourself if you'd like.

[2016-05-09 07:38] yakirn commented on #215
Hey @bvaughn
I saw your message, I will try to get to it later today. I will also try to test the RC.
btw thanks for the help! :)

[2016-05-09 12:38] anjianshi opened #222 "scrollbar covered cell content"
When columns width === grid width and there's a vertical scrollbar, the scrollbar will cover the last cell of every row.
Similarly, when rows Height === grid height and theres a horizontal scrollbar, it will cover the last cell of every column.

here's an example: http://plnkr.co/edit/lV9gaaS34xoybhfiWipJ

![a](https://cloud.githubusercontent.com/assets/5005012/15113063/acf553f6-1624-11e6-8571-de5

[2016-05-09 16:48] tbranyen commented on #219
@bvaughn looks like rAF isn't necessary like I previously thought. Here's an example: https://jsfiddle.net/tbranyen/c3subysj/5/

[2016-05-09 16:51] bvaughn commented on #219
Oh! Nice :D

[2016-05-09 19:23] yakirn commented on #215
@bvaughn I just checked out the commit with the performance issues, but for some reason the problem isn't reproducing. I'm still trying, but I may not be able to provide you with code sample as promised.

[2016-05-09 19:33] tikotzky opened #223 "Allow setting a scroll velocity at which `isScrolling` becomes true"
Right now as you as you begin scrolling, even a very slow scroll while browsing a list `isScrolling` is set to true. This means that if you want to slowly browse through a list you need to constantly scroll and stop to allow the cellRenderer to render the full cell contents.

Perhaps there should be a (configurable) scroll velocity at which `isScrolling` becomes true to allow you to slowly browse

[2016-05-09 19:36] bvaughn commented on #223
I don't think I want to implement any kind of velocity handling for scrolling. At the moment, that's a boolean flag and I think I'd like to keep it that way for simplicity.

You could implement a velocity threshold pretty easily though using the `onScroll` callback and just ignoring the `isScrolling` param passed to `cellRenderer`. If you'd like to share your code back with me I could add it to th

[2016-05-09 19:37] bvaughn commented on #223
I should point out that no one is forced to render a placeholder cell while `isScrolling` is true. It's there as an optional optimization.

[2016-05-09 19:37] bvaughn commented on #215
No worries. :) Let me know if it crops back up.

[2016-05-09 19:57] mikedevita opened #224 "Question: is there functionality built in to do something like onCellClick() or onCellDblClick()"
I need to be able to do *something* when a user doubleclicks on a cell in a table. I dont see anything documented for this but was wondering if it already exists and is just not documented, or if it can be added in a future release?

[2016-05-09 20:00] bvaughn commented on #224
Hey Mike,

`FlexTable` supports an row on-click callback (since you couldn't implement that yourself) but if you want a cell on-click, you would have to just render your cell (and attach the on-click yourself). Does this make sense?

I am very wary to pass through all possible events for a cell because there are a lot of them and a user can always implement it themselves via a custom table cell re

[2016-05-09 20:00] bvaughn commented on #224
Going to close this as I don't plan on taking any action on it and I like to keep the issues list clean. We can chat more here if you have follow up questions though. :)

[2016-05-09 20:00] #224 closed

[2016-05-09 20:02] bvaughn commented on #223
This could even be implemented as a HOC by the way- similar to [`ScrollSync`](https://github.com/bvaughn/react-virtualized/blob/master/source/ScrollSync/ScrollSync.js). The HOC could listen for scroll events, determine when they exceed the threshold, and then pass the child function the appropriate `isScrolling` parameter. Then your cell renderers could just use _that_ parameter instead of the bin

[2016-05-09 20:03] bvaughn commented on #223
I'm going to close this issue since I don't plan on taking any action on it. (Pruning the issues list regularly helps me a lot so I hope you'll understand.) We can continue to chat here if you have questions or ideas. :)

[2016-05-09 20:03] #223 closed

[2016-05-09 20:04] mikedevita commented on #224
holy quick response... thanks @bvaughn .. ill look into forking it and adding a dblClick

[2016-05-10 05:14] bvaughn commented on #222
It's a little tricky to get right. There are edge-case sizes where everything would fit on one axis, then adding a scrollbar to the other causes things to overflow.

If you'd like to take a stab at it though feel free to submit a PR? :)

[2016-05-10 05:46] geminiyellow opened #226 "react-virtualized not work in react-router"
Hi, @bvaughn

i want to use `react-virtualized` in my project. and i try the demo, it work well. then i try to move it into `react-router`:

- `import 'react-virtualized/styles.css';` will cause module not found error, so i copy the `styles.css` file to the project folder

- the router
[code]

- and `Summary` component just copy the code from [VirtualScroll.md](https://github.com/bvaughn/react-vir

[2016-05-10 12:49] phahn commented on #123
I'm currently working on a similar requirement. I'm using `Collection` instead of two `Grid`. Works pretty well so far.

![image](https://cloud.githubusercontent.com/assets/184948/15146914/0bac68a0-16be-11e6-882d-680628518d81.png)

[2016-05-10 13:35] bvaughn commented on #123
Nice! If you run into performance issues with `Collection` (which isn't as performant as `Grid` since it has to do more work, not being able to assume things about its underlying data) you may try switching to `Grid` and using the `cellRangeRenderer` property to render the rows/columns `Grid` tells you to, below your own fixed header.

[2016-05-10 13:40] bvaughn commented on #226
I'm afraid I can't help you with the information you've posted. You'll need to post sample code on Plunker to begin with so that others can see what you're trying in a little more detail. I assure you though that react-virtualized and react-router work fine together.

You may also try a site like Stack Overflow for this type of question. It's likely to get a faster response (and from more people t

[2016-05-10 13:40] #226 closed

[2016-05-10 15:20] tikotzky commented on #223
Thanks for the quick response! (and the awesome library)
I'll look into doing something similar to ScrollSync.

[2016-05-10 15:21] bvaughn commented on #223
No problem. If you think the thing you build might be useful to others- let's talk more. Maybe it could make its way into this project _or_ maybe it could be released as a separate HOC that could be installed alongside react-virtualized. (That is, assuming you'd be interested.)

[2016-05-11 00:50] clauderic opened #229 "Why is width required?"
Why isn't the `width` prop required? Shouldn't it just default to `width: 100%` and be an optional prop?

[2016-05-11 02:24] bvaughn commented on #229
A `width` property is required because there is no HTML element resize event and so there's no straight forward, native way for an element to detect its own size (if it changes). I feel it's better for react-virtualized components to be _pure_ and _stupid_ about their sizes. If you want 100% width or height behavior, use the `AutoSize` HOC.

[2016-05-11 02:24] #229 closed

[2016-05-11 02:53] clauderic commented on #229
I see your point, and part of me agrees with you, but I still feel like it's an opinionated standpoint that adds an unnecessary constraint.

I can definitely see the benefits of using AutoSize for the height of a component, but for the width... I feel like the AutoSize HOC adds an unnecessary layer of complexity, not to mention the performance hit (which is especially true when working with low po

[2016-05-11 03:40] bvaughn commented on #229
You don't _have_ to use `AutoSizer` if you don't plan on dynamic a (changing at runtime) width. Just read the width in your wrapper component and pass it down to whatever react-virtualized component you're using.

It _is_ an opinionated standpoint but it provides the most flexibility to users. You can use a fixed-size, or `AutoSizer`, or your own lightweight wrapper. Should be pretty simple, no?

[2016-05-11 06:36] khankuan opened #230 "Allow onScroll when Grid does not have scrollbar"
Hi,

I have a use cases for onScroll where i'm using it to detect downward scrolling. When that happens, i will collapse a component above the Grid. Unfortunately, this causes the Grid to resize and now the Grid does not have a scrollbar as it is large enough. Originally, when i'm scrolling upwards back to the top, I will uncollapse the component above. Since onScroll does not happen when the Grid

[2016-05-11 08:51] cyberxndr opened #231 "Header overflows the parent div"
Hi, @bvaughn. There is an issue with FlexTable's header (and maybe with others).  Header overflow appears in case when FlexTable rendered inside a parent with width < 100%.

Please, run the following example to get the details https://cdn.rawgit.com/cyberxndr/778e622610967560c209f820ad70b5ee/raw/97b5a5c9fa19788de6e97c4b3f833070ec5821a0/example.html

`* { box-sizing: border-box }` solves the proble

[2016-05-11 13:43] bvaughn commented on #230
Hey @khankuan,

Unfortunately this is not enough information for me to help. I suggest creating a Plunker (or similar) that shows what you're trying to do and then maybe asking on the Gitter channel or Stack Overflow?

In the meanwhile I'm going to close this issue since it's not actionable (just a question). I'll still see responses and such though. :)

[2016-05-11 13:43] #230 closed

[2016-05-11 13:46] bvaughn commented on #231
Hey @cyberxndr,

Firstly, thanks for the example code! Unfortunately I don't see the overflow you're describing.

[2016-05-11 15:25] cyberxndr commented on #231
Chrome 50.0.2661.94
Firefox 45.0.1
![2016-05-11-182017_scrot](https://cloud.githubusercontent.com/assets/2040537/15186399/8e1ecff2-17a5-11e6-95a8-55b3387a57e0.png)

[2016-05-11 15:26] phahn opened #232 "Collection missing recomputeCellSizesAndPositions function"
It looks like the `recomputeCellSizesAndPositions` function is missing on the `Collection` class. I was only able to access it through refs.CollectionView

[2016-05-11 15:32] bvaughn commented on #231
Chrome 50.0.2661.94:
<img width="337" alt="screen shot 2016-05-11 at 8 31 44 am" src="https://cloud.githubusercontent.com/assets/29597/15186685/d4622476-1752-11e6-8325-4da1e7ca95ed.png">

[2016-05-11 15:33] bvaughn commented on #231
Furthermore, looking at the inline styles for the `FlexTable__headerRow` cell on the demo you linked:
[code]
That seems right since the parent `container` styles are:
[code]

[2016-05-11 15:34] babsonmatt commented on #231
For what it's worth (Version 50.0.2661.94 (64-bit)) on OSX:
![image](https://cloud.githubusercontent.com/assets/853220/15186751/4629a458-176c-11e6-8220-3cfdc7b17b7f.png)

[2016-05-11 15:34] bvaughn commented on #231
To be clear, I prefer using `* { box-sizing: border-box }` everywhere. I think it should be the default. I'm just not seeing what you're seeing.

[2016-05-11 15:57] cyberxndr commented on #231
It was a small surprise for me to get this behaviour. Thanks #103 it solved now. Hope this will helps somebody too.

[2016-05-11 15:57] #231 closed

[2016-05-11 17:36] bvaughn commented on #231
I'm glad you were able to find a resolution. I'm still a little confused about why I was unable to reproduce it.

Would you clarify- which component you had to add the `box-sizing` rule to @cyberxndr ? I don't mind adding it to the default react-virtualized styles.

[2016-05-11 18:04] bvaughn commented on #232
Thank you for reporting this issue. I've added this method to `Collection` and released 7.0.2.

[2016-05-11 18:04] #232 closed

[2016-05-11 18:10] phahn commented on #232
That was fast :) Thank you very much for the fix and this awesome library!

[2016-05-11 19:22] cyberxndr commented on #231
@bvaughn Seems like `.FlexTable__headerRow, .FlexTable__Grid { box-sizing: border-box }` is enough.

Single `.FlexTable__headerRow { box-sizing: border-box }`:

![2016-05-11-220117_scrot](https://cloud.githubusercontent.com/assets/2040537/15193177/34188ae6-17c5-11e6-85c5-140a1fd916db.png)

Both `.FlexTable__headerRow, .FlexTable__Grid { box-sizing: border-box }`:

![2016-05-11-220127_scrot](https:

[2016-05-11 19:51] bvaughn commented on #231
Thanks!

Published 7.0.3 with `box-sizing: border-box` rule added to `.FlexTable__headerRow` and `.FlexTable__Grid`.

[2016-05-13 06:05] anjianshi commented on #222
I think this solution has no problem.

About scrollbar, there's three situations:

1. `gridSize - contentSize >= scrollbarSize` (no scrollbar)
2. `contentSize > gridSize` (has scrollbar)
3. `gridSize > contentSize && gridSize - contentSize < scrollbarSize` (according to opposite axis)
    - opposite axis was in situation one (no scrollbar)
    - opposite axis was in situation two (has scrollbar)

[2016-05-14 21:02] bvaughn commented on #222
Thanks for the PR @anjianshi ! I left some feedback.

[2016-05-14 23:49] bvaughn commented on #217
@rodrigocorsi2: This has been fixed in version 7.0.5. Thanks for the bug report. :)

[2016-05-14 23:49] #217 closed

[2016-05-15 09:28] wasd171 opened #235 "CellMeasurer throws "Only a ReactOwner can have refs" error under certain conditions"
Hi!

When trying to render such construction
[code]

I get cryptic
[code]

When it should be unmounted I get
[code]

`_this.cellRenderer` looks as following:

[code]

Also for some reason only rows, which are visible on first render are rendered (so no new rows appear on scrolling)

[2016-05-15 10:14] wasd171 commented on #235
Replacing my `<Message/>` component with `<div>{message}</div>` seems to fix this problem

[2016-05-15 12:25] rodrigocorsi2 commented on #217
Thank you @bvaughn !

[2016-05-16 00:30] bvaughn commented on #235
Hi @wasd171. Unfortunately the current approach I'm following in `CellMeasurer` is [a bit hackish](https://github.com/bvaughn/react-virtualized/blob/master/source/CellMeasurer/CellMeasurer.js#L158). I've tried a couple of alternatives but haven't found any other approaches that work (that don't also require asynchronicity).

Help would be appreciated here if others have ideas to contribute.

[2016-05-17 12:20] gaearon opened #241 "Examples should have overscan enabled by default"
Scrolling the list is how users check if the library is viable.
Empty space looks frustrating and like bad UX, so I’m sure many close the tab after that.
We should set a default overscan of 5 or something.

[2016-05-17 14:23] bvaughn commented on #241
Hey @gaearon, nice to hear from you. Overscan is actually set to 10 via `defaultProps` but it looks like I've stupidly overridden it to 0 in some of the examples. I'll update them momentarily.

[2016-05-17 14:26] bvaughn commented on #241
Updated! :)

[2016-05-17 14:26] #241 closed

[2016-05-17 14:44] gaearon commented on #241
👍

[2016-05-17 18:21] 3cooper opened #242 "What version is of IE is required for this project to work?"
Just wanted to know what the minimum required version of IE was.  We have a requirement of IE 9.  I would like to try this grid in an attempt to move away from FixedDataTable. Thanks.

[2016-05-17 18:24] bvaughn commented on #242
Last time I tested on IE9 (via a VM on modern.ie) I did not notice any obvious problems. Things seemed to work. If you notice an issue in your own testing- feel free to file it or submit a PR.

I don't want to go too far out of my way to support older IE (< 10) but I'm willing to make small tweaks and adjustments. (For instance, I use `isNaN` instead of `Number.isNaN` to avoid problems with IE.)

[2016-05-17 18:24] #242 closed

[2016-05-18 12:40] vzaidman commented on #134
Just add the desired property for update, for example "companies" to virtual scroller.
`
<VirtualScroll
   {...virtualScrollProps}
   companies={companies}
 />
`
And it will force update when the property changes

[2016-05-18 13:00] 3cooper opened #244 "FlexTable does not work in IE9"
When in IE9, FlexTable only renders one column.  I'm not sure if FlexTable actually uses FlexBox.  If so, I guess this is the case and possibly not much can be done.  I heard there are some FlexBox polyfills, so possibly I could get those to work on my own.  I just wanted to check if this was the reason why.  I'm completely new to FlexBox so I'm not sure how to tell if FlexTable is actually using

[2016-05-18 16:09] bvaughn commented on #244
`FlexTable` does use flexbox (hence the name) which unfortunately means that it won't play nicely with most version of IE (see [caniuse](http://caniuse.com/#search=flexbox)).

I'm not sure of the best solution for this that wouldn't add burden to non-IE targets. Perhaps using `display: table` and `display: table-cell` fallbacks for IE? I don't know if this would work in all cases. It certainly wou

[2016-05-18 16:16] bvaughn commented on #244
Maybe something like this...

[code]

And then use the inline `style` (or `className`) properties of `FlexColumn` to set specific widths for your IE tables. So for instance, a flexbox column with a basis of 60px set to grow (eg `flex: 0 1 60px;`) would get an inline style of `width: 60px; min-width: 60px;`).

[2016-05-18 16:20] bvaughn commented on #244
I'm going to close this issue for now. I don't think I want to go down the path of supporting a flexbox component in a browser that explicitly doesn't support flexbox. And `FlexTable` is definitely a flexbox-specific component.

You could accomplish the same thing (without relying so heavily on flexbox) using `VirtualScroll`; that might actually be a better route for you to be honest. `FlexBox` is

[2016-05-18 16:20] #244 closed

[2016-05-18 17:09] 3cooper commented on #244
Thanks for the information.  It seems like Grid works ok.  I guess the drawback here is needing to provide the heights for every row.  Possibly we could use the CellMeasurer for that and then use AutoSizer to size the whole table. I wish we could rely on modern browsers for this project.  It would make everything so much smoother.   Thanks again.

[2016-05-18 17:11] bvaughn commented on #244
Agreed! An element resize event would be so nice. :(

[2016-05-18 19:27] davidworkman9 opened #245 "FlexTable - rowspan would be a nice to have feature"

[2016-05-18 19:38] bvaughn commented on #245
Hey @davidworkman9, thanks for suggesting a feature!

Unfortunately I don't think the `FlexTable` interface has a meaningful way to accommodate a `rowSpan` attribute. With HTML tables, `rowSpan` and `colSpan` are specified on a `<td>`, but with react-virtualized, cell-rendering is managed by `FlexTable` itself in order to simplify the flexbox display properties. (That's actually the primary functi

[2016-05-18 19:38] #245 closed

[2016-05-18 19:39] bvaughn commented on #245
For what it's worth, I posted a link on Twitter to this issue asking others to chime in if they have ideas. You're not the first one to request this feature! ;)

[2016-05-18 20:51] davidworkman9 commented on #245
Oops, sorry to repeat an issue. I searched first but forgot to search closed issues. I can understand the complexity that would be involved. My requirements for a rowspan are pretty simple, limited to a single row span. What I ended up doing was rendering an unordered list and calculating the row height based on the number of entries in my list.

[2016-05-18 20:58] bvaughn commented on #245
Oh no worries! I didn't mean to sound like I was complaining about a duplicate. I just meant that you're not the only one wanting this feature! :)

[2016-05-19 12:54] viniychuk opened #246 "Add configuration parameter to make scrollToIndex scroll to the top of a cell instead of bottom."
Hi @bvaughn,

We're using your react-virtualized to handle huge folders list with hierarchy (about 4000 folders on average) and it's working great! The only thing is that we have this issue with scrollToIndex.
When user expand a folder with a lot of subfolders we call scrollToIndex to scroll selected item to top of the list but if it's long enough it would be scrolled to it's bottom and we never s

[2016-05-19 13:25] ArtemZag opened #247 "FlexColumn className property is just ignored"
I tried to apply special css class to the cells for particular FlexColumn. But properties "style" and "className" do not make any effect.

[2016-05-19 13:41] bvaughn commented on #247
They work fine for me. (I just double checked with the latest version before commenting.)

I'll need you to provide a reproduction test case (Plunker, JS Fiddle, etc) if you're seeing a problem.

[2016-05-19 13:41] #247 closed

[2016-05-19 13:46] bvaughn commented on #246
Hi @viniychuk,

This feature was designed to scroll the minimal amount possible in order to ensure that a cell was fully visible. I think that behavior is still generally the best.

For example, if a row is partially visible at the bottom of a list and you scroll it into view, the list will only shift down enough to ensure that the row is fully visible. It would be more jarring if the list scrolle

[2016-05-19 13:57] viniychuk commented on #246
Thanks for the response, I'll try to find the best approach and will update with what we've got.

[2016-05-19 14:09] bvaughn commented on #246
Actually thinking about this a few more seconds~ `Grid` has 2 scroll-to properties, `scrollToColumn` and `scrollToRow`. I think adding a 3rd property `scrollBehavior` that is an enum ("start", "end", "auto" - defaulting to "auto") is a reasonable approach for exposing this functionality to users.

I said "top" and "bottom" initially because I was only thinking of vertical scrolling but I think we

[2016-05-19 14:29] ArtemZag commented on #247
Thanks for your response. I'll try to create some draft example.

[2016-05-20 11:36] madshargreave opened #248 "Each row as a form"
Hi

I am using this in conjuction with Redux Form's [multirecord]http://redux-form.com/5.2.4/#/examples/multirecord?_k=a651wa) forms.

I want some of the columns to be form inputs such as checkboxes and inputs, but I can't think of a good way to accomplish this, given how the tables are constructed based on columns and not rows.

Any ideas on how to accomplish this?

[2016-05-20 13:31] bvaughn commented on #248
This type of question is probably better suited for Stack Overflow or the [Gitter chat room](https://gitter.im/bvaughn/react-virtualized).

I'm not familiar with the library you linked to. But it seems like you could just use `VirtualScroll` and render `<form>`s in your rows however you want. Give that a shot? :)

[2016-05-20 13:31] #248 closed

[2016-05-20 13:37] bvaughn commented on #248
Closing this issue because it doesn't require any action on my part and I like to keep the issues view actionable. I'll still see responses though!

[2016-05-20 22:41] madshargreave opened #249 "Animations"
Hi

Is there a way to wrap wrap the rows of VirtualScroll in a TransitionGroup for animations?

[2016-05-20 23:39] bvaughn commented on #249
Hi @madshargreave,

You would have to use a `Grid` and implement your own `cellRangeRenderer` if you wanted to wrap rows. `VirtualScroll` and `FlexTable` are not setup to support that type of customization.

In the future, please ask this type of question on [Stack Overflow](http://stackoverflow.com/questions/tagged/react-virtualized) or the [react-virtualized Gitter chat room](https://gitter.im/b

[2016-05-20 23:39] #249 closed

[2016-05-22 10:38] FeralWhippet opened #250 "When using Grid with CellMeasurer for variable height rows, cells that should be visible render outside of viewable area"
Usually only about the first 35 or so rows render normally. After that it looks like you have to scroll down a ways before the rendering of the next cell is triggered, and when that cell is rendered it is rendered with the proper offset, which has by then been scrolled up out of the viewable area. As far as I have traced it through the code I have not seen any obvious errors in the bookkeeping.

N

[2016-05-22 12:05] cyberxndr opened #251 "Scroll glitches/artifacts in Firefox 46+ on Windows"
Hi, @bvaughn. There is a scroll issue in a new firefox release. Scroll glitches appears in result of 45 to 46 upgrade. Please, check the following example:

https://cdn.rawgit.com/cyberxndr/9ef19845ef538293bbd4ccd6a9701929/raw/eea41df6ab3056bb3061ddfb70d876d52d7e0c13/example.html (linux, firefox 46.0.1)

Here is a webm:
http://webmshare.com/57QLb (base example)
http://webmshare.com/MnPJj (real-wor

[2016-05-22 17:35] bvaughn commented on #250
Hey @FeralWhippet,

Can you point me at a working example of this? A video would be helpful but ideally a Plunker or something similar (that I can actually inspect) would be helpful. I have not seen the behavior you've described and the code above- while helpful- would require me to spend time writing the missing parts in order to actually see what you're seeing.

[2016-05-22 17:45] bvaughn commented on #251
Hey @cyberxndr,

Thanks for the detailed write-up. You didn't mention which version of react-virtualized you're using. From a quick inspection of your example source, I'd guess 6.x. So I'm curious...do you have any idea if Firefox 46 shows this same behavior with 7.x (the latest release)? I'd check myself but I'm unable to reproduce the behavior shown in your video using the example you've linked.

[2016-05-22 18:11] cyberxndr commented on #251
6.x is used for the example, but 7.x had the same behavior (I don't found compiled js for 7.x, so I got the old one). I can also confirm that bug exists in the firefox 46.0.1, runned on windows 7.

[2016-05-22 18:21] bvaughn commented on #251
7.x UMD build is available on npmcdn and cndjs. (And on NPM of course).

On Sunday, May 22, 2016, cyberxndr <notifications@github.com> wrote:

[2016-05-22 18:40] cyberxndr commented on #251
There is an updated example with 7.0.5 https://cdn.rawgit.com/cyberxndr/63d07a939582fbbceb75c9bb6c209f35/raw/96b1fe4c3de62c4c86ab5eedd59d321a0882d011/example.html

[2016-05-22 19:05] bvaughn commented on #246
I'm picking this up by the way.

[2016-05-22 20:18] bvaughn commented on #246
This feature has been released as version 7.1.0. `Collection`, `Grid`, `FlexTable`, and `VirtualScroll` all now expose a new property, `scrollToAlignment`. This defaults to "auto" (previous behavior) but can be changed to "start" or "end" to control the alignment of scrolled-to rows and columns.

[2016-05-22 20:18] #246 closed

[2016-05-22 20:21] bvaughn commented on #251
Thanks for the updated example. As expected, I'm still unable to reproduce the behavior (on my Mac). I don't have access to a Windows 7 machine at the moment but I'll try to find one. In the meanwhile I have reached out on Twitter to see if James Long has any ideas or pointers about what may be going wrong. (I'm not sure what's up, to be honest.)

[2016-05-22 21:12] bvaughn commented on #222
This has been fixed in version 7.1.1. Thanks for your helpful suggestions and PR! (I gave you a shout-out in the release notes.) Cheers~

[2016-05-22 21:12] #222 closed

[2016-05-22 21:23] bvaughn commented on #149
This feature was introduced (in a limited way) via the version 7 `CellMeasurer` component.

This component could be improved significantly~ something I'd welcome contributions from others on~ but the basic functionality exists now, so I'm going to close out this issue.

[2016-05-22 21:23] #149 closed

[2016-05-23 04:28] bvaughn commented on #251
Spoke with James Long about this briefly and he believes the fact that it occurs on Windows only indicates that it's likely a Firefox bug. Fortunately you filed a fantastic bug report and so I've basically just transferred it over to Mozilla's bug tool: https://bugzilla.mozilla.org/show_bug.cgi?id=1274894

I'll keep you posted if I hear anything more. :)

[2016-05-23 05:04] cyberxndr commented on #251
It's a good news!

There is one thing to notice: the bug applies not only to Windows, but both Windows and Linux. I got it on Linux generally, and only confirmed for Windows later. Maybe this detail will be useful.

[2016-05-23 05:08] bvaughn commented on #251
Interesting. Could you add a comment to the Bugzilla issue?

On Sunday, May 22, 2016, cyberxndr <notifications@github.com> wrote:

[2016-05-23 05:14] cyberxndr commented on #251
Definetely

[2016-05-23 05:16] bvaughn commented on #251
Thank you! :)

On Sunday, May 22, 2016, cyberxndr <notifications@github.com> wrote:

[2016-05-23 18:19] viniychuk commented on #246
Thanks it works perfectly!

[2016-05-24 08:55] FeralWhippet commented on #250
Hey bvaughn,

I have tried to get an example running in Plunker with no luck, it fails on attempting to load react-virtualized.js with:

Uncaught TypeError: Super expression must either be null or a function, not undefined

 I found react-virtualized on cloudflare and attempting to load it from there, e.g.:

<script src="//cdnjs.cloudflare.com/ajax/libs/react-virtualized/7.1.2/react-virtualized.js

[2016-05-24 13:20] bvaughn commented on #250
There are a few problems with the Plunker you linked to. First it's loading React 0.12 which is not a supported version. (react-virtualized supports 0.14 and 15.0). So you can change that by swapping in...

[code]

Next it's trying to parent the React app in an element with id "container" but the HTML only has an element  "example".

Then it's referencing jQuery (`$.ajax`) but it hasn't been loade

[2016-05-24 14:59] FeralWhippet commented on #250
yes I know about the other problems (jQuery etc...), but I was not getting that far for it to matter. the react versions I used were the ones inserted by plunker's "get latest version" function, I didn't think to look at them as I was assuming they were actually latest....

[2016-05-24 15:26] bvaughn commented on #250
It failed to load _because of_ the React version.

[2016-05-24 15:55] FeralWhippet commented on #250
yes, I got that. I was just saying that the little widget in Plunker that places the script tags in your index.html does not specify the most recent (or even close to recent versions). For example it generates a script tag for version 0.13.0 of react-bootstrap and the current version is 0.29.4 and so on. its just surprising that its so far off.

[2016-05-24 16:19] FeralWhippet commented on #250
OK, it is working now. Its as ugly as sin, but shows the behavior. Just click on the line in the table (GBU ...) and it will render a grid. there are 80 rows in the data, but the Grid will start showing strange behavior at Row #28 (at least in the browser I am using, Chrome).

[2016-05-24 16:53] bvaughn commented on #250
Sure. I understand that's not expected behavior of Plunker. But in the future, stick with the Plunker until it works instead of just tossing it over the fence to me. I'm helping out for free and my time is limited. :)

This issue is a great demonstration of why reproduction cases are important. It looks like the problem is because you're not including the react-virutalized styles. Add this line to

[2016-05-24 16:53] #250 closed

[2016-05-25 16:16] pkumar84 opened #255 "Data Cell gets misaligned after horizontal scroll"
Dear Developer,
I have 50-60 columns and 1000s of rows. all looks good once data get loaded but somehow data-cell gets misaligned as soon i do horizontal scroll, Attached is screenshot. Once i inspect column div and row cell div, both have same "left" value,

It gets aligned as soon as i scroll all the way to left. somehow it gets break on right horizontal scroll.

Note : this issue happens only w

[2016-05-25 16:38] bvaughn commented on #255
Hey @pkumar84,

Please point me at a Plunker (or similar) where I can see this happening and I'll be happy to take a look.

Consider forking one of these playground files for an easy starting point: https://github.com/bvaughn/react-virtualized/tree/master/playground

[2016-05-25 18:32] pkumar84 commented on #255
sure, will try to do so, thanks. Another question, is there any way we can highlight the entire row on Grid ?

[2016-05-25 18:44] bvaughn commented on #255
There's a recipe for this:
Demo: https://rawgit.com/bvaughn/react-virtualized/master/playground/hover.html
Source: https://github.com/bvaughn/react-virtualized/blob/master/playground/hover.js

[2016-05-25 19:04] pkumar84 commented on #255
cool, thanks .

[2016-05-26 23:16] johnnyji opened #258 "Render entire container scroll height for VirtualScroll"
Hi Brian,

I'm currently using `VirtualScroll` where I am manually changing the `scrollTop` when the user clicks on a button that should scroll them to a particular row. The reason I'm not using the provided `scrollToIndex` prop is because the scroll that I need to do requires animation.

However this becomes an issue if there are tons of rows being rendered and I need to animate the `scrollTop` t

[2016-05-26 23:48] bvaughn commented on #258
Hey @johnnyji,

Thanks for the compliment. :)

When you say you already know the total height- do you mean your rows are all the same height? Or they're varying height, but not dynamically measured?

[2016-05-26 23:55] johnnyji commented on #258
@bvaughn

In my case, all the rows are the same height, and I know exactly how many rows there will be. Therefore I can do the calculation on my end to get the total height of all the rows.

If I can give `VirtualScroll` the total height of all the rows, and that in turn passes it down to `Grid`, then on mount, the `VirtualScroll` should be able to render the correct `overflow-y` for all the rows,

[2016-05-26 23:59] bvaughn commented on #258
I see. Maybe I'm missing something, but if your rows are all the same height- then [this line in `Grid`](https://github.com/bvaughn/react-virtualized/blob/master/source/Grid/Grid.js#L580) should set the `estimatedRowSize` to be equal to your specified `rowHeight` which should cause the "estimated" height returned by [`getTotalSize`](https://github.com/bvaughn/react-virtualized/blob/master/source/G

[2016-05-27 00:03] johnnyji commented on #258
@bvaughn Whoops. I got mixed up in my own head. My rows are **NOT** the same height. But I can calculate the sum height of all the rows.

[2016-05-27 00:05] bvaughn commented on #258
Heh heh, ok. That makes more sense then.

Let me think about this some. I'm a little wary of adding a `totalRowsHeight` property. It seems a little too easy to mis-use and break things.

Any chance you have a Plunker or something you could point me at so I could get a sense of how "bad" this gradual resizing is? My hope was that using reasonable `estimatedRowSize`s would make the resizing pretty s

[2016-05-27 02:44] clauderic commented on #147
Hey there,

Thought I'd chime in since I've been using React Virtualized for a while now. I'd like to start off with a massive thank you. This project has truly been a godsend. In my experience, I've found it to perform a lot better than the other react virtual scrolling solutions out there 👍

I've been using the React Virtualized VirtualScroll component at work in a production to-do app built wit

[2016-05-27 03:18] bvaughn commented on #147
Fantastic, @clauderic! Thanks for sharing the videos. I love seeing what you've done with RV!

react-infinite-calendar in particular is slick! Just gave it a shout-out on Twitter. :)

The drag-and-drop UI is also very cool. Would love to see how you're implementing that. I get asked about that pretty regularly but up until this point, I haven't had to build it- so my recommendations are...vague. :

[2016-05-27 03:37] clauderic commented on #147
@bvaughn Thanks man, glad you appreciate it! And thanks for the shoutout! 😊

As for drag and drop... It was quite an interesting challenge to solve. Anytime elements come in and out of the DOM, you have to re-build the list of elements that will be animated as they get hovered over and keep track of their actual index in a data-attribute or something of the sort (as opposed to their index in the D

[2016-05-27 03:47] bvaughn commented on #147
If you do open-source it at some point, point me at it! I'd love to see it. :)

[2016-05-27 04:23] #258 closed

[2016-05-27 04:34] bvaughn commented on #258
Check out new release 7.2.0.

Ended up going a slightly different way with this but I think it solves your problem while being a little safer. Updated docs here: https://github.com/bvaughn/react-virtualized/blob/master/docs/Grid.md#measureallcells

Basically there's a new method on `Grid` (`measureAllCells`) and `FlexTable` and `VirtualScroll` (`measureAllRows`) that allows you to force-measure.

[2016-05-27 16:21] bvaughn commented on #255
Gentle reminder. :)

[2016-05-27 16:58] johnnyji commented on #258
@bvaughn 👏 👏 👏  Far better than I originally thought. Thanks a lot for the quick response and wicked library 👍

[2016-05-28 13:27] vjancik opened #260 "Applying odd element CSS rule to FlexTable row."
I stylize my table with each other row being gray. So (white, gray, white, gray).
I achieve this by using the `.Grid_cell:nth-of-type(odd)` CSS selector.
However, because of the "only in view" rendering, the "oddness" of a particular row changes depending on the scroll position. This causes the color of the rows to shift as I scroll, and creates a really ugly effect.

Example (compare colors on pa

[2016-05-28 14:07] bvaughn commented on #260
It's actually pretty easy to accomplish this via JavaScript, as shown in the [demo](https://bvaughn.github.io/react-virtualized/?component=FlexTable) ([source](https://github.com/bvaughn/react-virtualized/blob/master/source/FlexTable/FlexTable.example.js#L284)).

You could even make a HOC for yourself if you use the functionality in a lot of places:
[code]

[2016-05-28 14:09] bvaughn commented on #260
I understand that it's simpler to achieve the even/odd styling with pure CSS, but since each new feature adds complexity for me to manage- I avoid adding them if there's a reasonable existing solution.

Hopefully the HOC approach I outlined above will be lightweight enough for you. :)

[2016-05-28 14:09] #260 closed

[2016-05-28 14:33] vjancik commented on #260
The solution you propose will cause React to rewrite the class property on each row in the view on each scroll (when element leaves or enters). I understand your point of view, but I think the solution I propose is much cleaner.

Thank you for your solution however, and for your consideration!

[2016-05-28 14:45] bvaughn commented on #260
It shouldn't, since each rendered row/column uses a React `key` that combines its row and column index (`${rowIndex}-${columnIndex}`). This means once the row (or cell) is created initially- with whatever class name you calculate based on its index- it isn't updated while you scroll. New rows are added before/after it depending on your scrolling direction.

[2016-05-28 14:53] bvaughn commented on #255
I'm going to close this for now since it's not actionable for me without having more information (a way to reproduce the behavior). I'll still see comments though- so when you get something put together, add it here and I'll take a look and re-open the issue if necessary. :)

[2016-05-28 14:53] #255 closed

[2016-05-30 12:24] abhirathore2006 commented on #147
@bvaughn  i am using react-virtualized in a search page, however i have small issue actually more over a request, now it creates its own container, is it possible to make it use the same window scrollbar ... like this https://react.rocks/example/react-virtual-list   because i have other content too and showing multiple scroll-bar doesn't look good

i believe this will make it a perfect solution.

[2016-05-30 16:46] SteveKennedy commented on #147
@clauderic I know this is off topic, but can you point me to where I can find that to-do list manager? I can't find it on Android, and I've been looking to try new ones.

[2016-05-30 19:46] bvaughn commented on #160
Safari 9.1- I'm specifically testing with 9.1 (11601.5.17.1)- seems to have improved this issue. I can still reproduce it but it works better than Safari 9.0 did.

[2016-05-31 15:37] #219 closed

[2016-05-31 15:37] bvaughn commented on #219
Going out as 7.3.0 in a few minutes :)

[2016-05-31 15:38] bvaughn commented on #251
Looks like the Mozilla team has picked up this issue and tagged it as "confirmed" on their end so I'm going to close the react-virtualized bug for now. We'll re-open if needed!

[2016-05-31 15:38] #251 closed

[2016-05-31 15:53] bvaughn commented on #251
Actually @cyberxndr, Mozilla says they _can_ reproduce it on 46 but _can't_ on nightly, 47, or 48 so they think the issue has since been fixed. They're asking me to verify (but I was never able to reproduce it on OSX in the first place). Can you take a look? :)

[2016-05-31 19:07] cyberxndr commented on #251
Nice to see its fixed from their side. I already dropped an answer. It works well.

Thanks for participation :)

[2016-05-31 19:20] bvaughn commented on #251
No problem. Stoked to see they've already fixed it. :)

[2016-05-31 22:04] olslash commented on #235
I've run into this show-stopper as well, trying to render a grid with a CellMeasurer.

Looking into it today, there are a couple things i can modify to make it work -- either remove the `scrollingContainer` ref from <Grid>, or remove the `renderToString` call in _measureCell. But it's still not clear to me how those are connected.

Obviously renderToString is being called on a component that is re

[2016-05-31 23:17] ArEnSc commented on #34
Hey can you give me a quick overview of how virtualized list works? At a high level so I can potentially port this to react native? we are really in need of a listView that behaves in this manner.

From what I understand the core idea behind this is that you have a bounding rectangle, and you just do collusion detection and determine what is in view as soon as the cell goes out of the view you rep

[2016-05-31 23:20] bvaughn commented on #34
I don't know enough about react-native to know how easy it would be to port RV to native. I've been interested in doing just that for a while but I don't have the time to do it for fun. (If you'd be interested in talking about contractual work, let me know and we could discuss that possibility.)

Otherwise the core parts of the code you'll want to look at are:
* The [`Grid` component](https://gith

[2016-05-31 23:24] ArEnSc commented on #34
@bvaughn hey yeah sorry I don't have the funds for contractual work haha, I am doing this to get stars on github =P, I know this is a huge pain point for me and other people.

Could you potentially break down the general ideas?  or are you too busy for this ?

[2016-05-31 23:28] bvaughn commented on #34
There's actually not all that much code if you set aside the Flow typings and comments- (the comments are, I think, pretty much the summary you're asking for?). There's also a lot of unit tests that (I think) should help clarify my intentions.

This method is probably a good starting point for you:
https://github.com/bvaughn/react-virtualized/blob/master/source/Grid/utils/CellSizeAndPositionManage

[2016-05-31 23:30] ArEnSc commented on #34
@bvaughn Thanks ill have more clear questions after I actually run through the code !

[2016-05-31 23:39] joewood commented on #34
I think virtualizing the `ListView` in React Native may be a lot easier than re-implementing the browser based version for a couple of reasons:
* ListView is already "virtualized" in some ways as there's a per row callback to render the row.
* ListView has an event to when the viewport has changed `onChangeVisibleRows`. Do no row indicators are needed.
* ListView has an event to signal the end of

[2016-06-01 04:33] bvaughn commented on #235
I'm not able to reproduce this problem using `CellMeasurer` with `VirtualScroll` as I was initially able to but I can if I return a custom component (eg. the `Message` component above).

Setting a breakpoint in the React source it looks like the first few rows that are rendered have an `owner` that is a `ReactCompositeComponentWrapper` but the one that eventually errors has a `null` value for `own

[2016-06-01 04:46] olslash commented on #235
that squares with my experience, too -- i only see the error after the final row renders. Will lookagain from that angle and see if I can track anything down

[2016-06-01 04:48] olslash commented on #235
BTW, would using CellMeasurer with VirtualScroll even be possible, given the difference in render fn signatures? (`rowIndex` vs `index`)

[2016-06-01 04:50] bvaughn commented on #235
Yup, you just need to create an adapter function eg
[code]

[2016-06-01 16:17] piecyk commented on #242
It looks like newest version drop support for `IE9 / IE10` ;/
i will try to debug it later, but from what console says it throws here:

https://github.com/bvaughn/react-virtualized/blob/master/source/Grid/utils/CellSizeAndPositionManager.js#L223-L225

running the example from https://bvaughn.github.io/react-virtualized/
it throws `Object doesn't support property or method '_cellSizeGetter'`
at lin

[2016-06-01 16:47] bvaughn commented on #242
Hm... that's a strange place to error. Doesn't look browser specific at a glance.

I played around on the react-virtualized demo site in VM on IE 10 just now and everything looks like it works fine. I don't have an IE9 VM downloaded at the moment so I can't spot-check that but... IE10 at least seems to work fine.

[2016-06-01 16:55] bvaughn commented on #242
Just tested with IE9 on Win 7 as well. I do see the error you reported there. So IE9 is affected, but IE10 is not.

[2016-06-01 18:06] piecyk commented on #242
@bvaughn thanks for quick replay, strange for me if i use browser stack windows 7, ie10 i see

![image](https://cloud.githubusercontent.com/assets/82964/15720328/2b9b6c74-2834-11e6-95ee-a8902497590b.png)

and when using emulation ie10 on windows 8.1 the same thing
![image](https://cloud.githubusercontent.com/assets/82964/15720342/3b1cc5c6-2834-11e6-9c83-1caabba81b8f.png)

[2016-06-01 18:11] piecyk commented on #242
and going to `Grid` tab we will see

![image](https://cloud.githubusercontent.com/assets/82964/15720494/f8510ed6-2834-11e6-924b-3bfc18de556a.png)

[2016-06-01 18:40] piecyk commented on #242
what i was thinking it's a `babel` transforming

basic here is the thread https://phabricator.babeljs.io/T3041

passing this snippet to console added by @mjancarik it works awsome in i9/i10
[code]
will find a proper solution tomorrow.
Thanks for awesome work :+1:

[2016-06-01 19:32] bvaughn commented on #242
Ah, great find. Keep me posted on what you come up with! I plan to look at it a little more this evening after my day job too- but things may come up in which case I'd love to have the help. :)

Thank you!

[2016-06-01 23:01] bvaughn opened #262 "Is it possible to support async layout?"
It's currently possible to crash react-virtualized by setting a _very_ high number of rows (eg 1,000,000,000) and then dragging the scrollbar quickly so that millions of rows are passed by at once. In this case react-virtualized will try to just-in-time measure all of the rows being scrolled past and it will likely fail.

The only solution to this, I think, requires changing the layout algorithms

[2016-06-02 05:29] bvaughn commented on #242
The problem seems to be because Babel is using [`Object.setPrototypeOf`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/setPrototypeOf) which is not supported by IE9 / IE10 although the above polyfill you pasted does seem to patch things up. (Seems like the [Babel plugin `babel-plugin-transform-proto-to-assign`](https://github.com/babel/babel/tree/master/pa

[2016-06-02 06:24] piecyk commented on #242
Lets hope that `ie9` will be death soon ( really death ) after Microsoft dropped the support slowly it should fade out...

Thinking about this i will add an section in README about `Object.setPrototypeOf` if some would like to use it in legacy browser... With css some can play with `table-cell` or other fall backs etc...
only using `VirtualScroll` there is not much css needed, thanks for looking o

[2016-06-02 13:10] 3cooper commented on #242
@piecyk are you saying that you have the flex grid working with IE 9.  It is something I was hoping to try soon but I know nothing about flexbox or the work around for it.  If you have it working, any advice you could give would be great.  Thanks.

[2016-06-02 13:19] pkumar84 commented on #255
Sorry for late response @bvaughn, we fixed this problem, problem was if we have horizontal scroll bar and add extra 15px (vertical scrollBar width) to last column width, it fixed the issue. Not sure it will help you or not to narrow down the issue. kindly advise.

[2016-06-02 14:08] bvaughn commented on #255
Glad you found a solution for it.

I would still need a reproduction case before I can advise. Let me know if you take the time to create one and I'll look at it. :)

[2016-06-02 15:40] andynoelker opened #263 "Add working Plunker with JSX to documentation"
I have seen a considerable number of issues raised that follow this pattern:

1. User says some feature in this project isn't working as expected
2. @bvaughn asks for a Plunker demonstrating the issue
3. User cannot figure out how to get code example working in Plunker and leaves in frustration

I can sympathize with people experiencing this, as I've just spent 2 hours trying to get Plunker to wor

[2016-06-02 16:14] newswim opened #264 "FlexTable documentation error"
This may have been obvious to many, but the demo had a prop of `rowCount` however the component expects a prop `rowsCount` - with an s.

Tripped me up for a while.

[2016-06-02 16:21] bvaughn commented on #264
Hey @newswim,

The [docs](https://github.com/bvaughn/react-virtualized/blob/master/docs/FlexTable.md) and [code](https://github.com/bvaughn/react-virtualized/blob/master/source/FlexTable/FlexTable.js#L106) all say `rowCount` because that's what's expected. Maybe you're using an older version of react-virtualized? That property was renamed in version 7, as mentioned in the [release notes](https://g

[2016-06-02 16:21] #264 closed

[2016-06-02 16:27] newswim commented on #264
Ah! I was using 6.2.1, thank you!

[2016-06-02 16:29] bvaughn commented on #264
No problem! :D

[2016-06-02 16:38] bvaughn commented on #263
Hey @andynoelker,

You raise a good point. This pattern does sometimes happen. Usually I try pretty hard to work with people to figure out what's happening from their description or demo videos. (I don't always _insist_ for a Plunker.) But sometimes it's just too hard to guess what's going on- and Plunkers often make it super easy for me to spot that the problem is a missing CSS file or something

[2016-06-02 16:40] bvaughn commented on #263
New issue templates now link to this Plunker. :)

Thank you for the suggestion!

[2016-06-02 16:40] #263 closed

[2016-06-02 16:41] andynoelker commented on #263
Wow! You are fast! Thanks so much! :smile:

[2016-06-02 16:42] bvaughn commented on #263
No problem. Hope it helps with your issue report ;)

[2016-06-02 19:50] piecyk commented on #242
@3cooper sadly no, i'm using only `VirtualScroll`... For grid i would try to play around `table-cell, table-row` etc... keep in mind it will not be pretty ( but hey it will be usable )
lets hope that `ie9/ie10` will be death soon ....

Maybe over weekend i will have some time and look on this...
You can ask in https://github.com/bvaughn/react-virtualized/issues/147 if some is using it in `ie9/ie10

[2016-06-02 20:01] bvaughn commented on #242
Are you talking about `FlexTable` or `Grid` @3cooper ? I tried making an alternate CSS stylesheet that used `display: table` for `FlexTable` but it doesn't quite work because of the DOM structure. (There is more than just table -> row -> td and that causes columns to not always have consistent widths between rows.) I think I ended up deciding that `FlexTable` was too inherently coupled to flexbox

[2016-06-04 21:47] hiddenl00p opened #266 "Can we have scrollable fixed header in ScrollSync?"
We are using ScrollSync component and really like it, but few users get confused when they try to scroll from the fixed header. Our use case is first fixed header column is the contact name, and other columns are for contact details.

[2016-06-04 23:38] bvaughn commented on #266
I assume you're asking about vertically scrolling- because horizontal scrolling should already work fine. But vertical scrolling isn't something I can really support from within `Grid` or `ScrollSync`.

You could maybe listen for scroll/wheel events in the common ancestor of both grids and do something with it (eg update the `scrollTop` in the lower grid). But I think you'll have to do that in you

[2016-06-04 23:38] #266 closed

[2016-06-07 08:12] vjancik opened #268 "FlexTable Horizontal Scrolling"
Filing here, because of a possible bug / missing feature.

Hey, my FlexTable Columns total sum of minWidths is larger than the width of the whole table. However the columns and it's contents that overflow get cut. Instead it should enable horizontal scrolling right? As FlexTable uses Grid underneath.

How can I enable this? I can't seem to find an option for this.

Thank you!

[2016-06-07 14:22] bvaughn commented on #268
`FlexTable` does not support horizontal scrolling. I've looked briefly at supporting it in the past but it was more complicated than seemed worth doing so I bailed on it.

If you want a similar affect, have you tried giving the `FlexTable` a larger width (the sum of your column min-widths) and putting it within a container that scrolls horizontally? (Wouldn't that achieve the same affect?)

If you

[2016-06-07 14:22] bvaughn commented on #268
By the way I'm going to close this issue because I don't intend to take any action on it beyond discussion, which we can continue to do once it's closed. (I'll still see comments and respond to them.)

[2016-06-07 14:22] #268 closed

[2016-06-07 16:08] SpencerCDixon commented on #87
Didn't have time to read this entire exchange but made it about half way through and wanted to give you an update for me at least...

When I use on firefox 46 it scrolls BEAUTIFULLY, no stagger whatsoever.  Safari has a little lag but barely noticeable.  On Chrome 50 with 10.11.3 OSX I get a the most stutter lag. This is in a FlexTable implementation that uses both InfiniteLoader for data fetching

[2016-06-07 16:44] SpencerCDixon commented on #87
[Here is how it looks on firefox](http://giphy.com/gifs/3o72F5fht3zvwJdEIg)
[Here is what it looks like on chrome](http://giphy.com/gifs/xT8qBqVMR28KMo6bVS)

[2016-06-07 16:57] bvaughn commented on #87
React (especially >= 15.x) doesn't run the smoothest in development mode, which seems to be what your demos are running in (given the Redux devtools on the right). Have you tried running in production mode?

[2016-06-07 17:32] SpencerCDixon commented on #87
Totally had it running dev mode!  Great catch 👍 .  Running it in production helps a LOT.  It is still a tiny bit staggered if I scroll really fast.  Any suggestions?

When using InfiniteLoader with FlexTable do you have any example of how to show a loading icon when it's fetching the new rows?  I had that working with the Virtual Scroll but there is no rowRenderer function on the FlexTable like th

[2016-06-07 17:39] bvaughn commented on #87
No problem. I think that's a common pitfall for React users. :)

I don't have any examples of that, no. You could override `cellRenderer` for your `FlexColumn`s and render a placeholder just like you would for `VirtualScroll`. The default implementation is _really_ basic anyway if you just wanted to fork it:
[code]

It's possible the flickering could be from data loading in, yeah. With a placehold

[2016-06-07 17:41] SpencerCDixon commented on #87
Awesome, makes total sense.  Thank you!

[2016-06-07 18:44] olslash commented on #235
mentioned this on gitter, but here's the relevant react issue for anyone interested:
https://github.com/facebook/react/issues/3344

[2016-06-07 22:03] vjancik commented on #268
That's surprising? Isn't FlexTable building upon Grid?
And yes, horizontal overflow scrolling could work, with some extra work. But I can't leverage the JIT rendering horizontally, which for my use case isn't that big of a deal, but could be, for bigger tables.

And I can't fixate the first column! To follow the horizontal scroll, which would be nice even for my use case.

[2016-06-07 22:09] bvaughn commented on #268
I can understand why you feel that way, but it's an intentional design decision. `FlexTable` is a (somewhat) narrowly focused HOC intended to simplify a specific use-case: data the grows to fill the available width while behaving somewhat similar to an HTML `<table>`. Horizontal windowing is left to the realm of the much-more-generic `Grid`. Bigger "tables" that require horizontal windowing should

[2016-06-07 22:22] jasonlee-alation opened #269 "Collection of items aren't loading on demos for IE10"
The demo page on ie10 isn't loading its collection of items for all demos except 'Collection'. This is leading to empty grids/tables/virtual scrolls

This was tested on Browserstack windows 8 ie10.
From what I understand react-virtualized _does_ support ie10 judging from the -ms- vendor specific flex attributes
<img width="895" alt="screen shot 2016-06-07 at 2 58 57 pm" src="https://cloud.githubus

[2016-06-08 01:51] bvaughn commented on #269
Right. Unfortunately I think this is because Babel is using [`Object.setPrototypeOf`](https://developer.mozilla.org/en-US/docs/Web/JavaScript/Reference/Global_Objects/Object/setPrototypeOf) which is not supported by IE9 / IE10. As for options to fix this, there's the [Babel plugin `babel-plugin-transform-proto-to-assign`](https://github.com/babel/babel/tree/master/packages/babel-plugin-transform-p

[2016-06-08 01:51] bvaughn commented on #269
Related to babel/babelify/issues/133

[2016-06-08 02:04] bvaughn commented on #269
Let me think on this a bit. :)

[2016-06-08 03:57] clauderic commented on #147
@bvaughn Finally open-sourced the sortable higher-order component 🎉 It's still fairly experimental, but if you're looking for a dead-simple solution to add sortable functionality to your existing components or to a react-virtualized list, might be a decent option :) It also supports touch devices out of the box, and has a tiny footprint. https://github.com/clauderic/react-sortable-hoc

@SteveKenne

[2016-06-08 05:01] bvaughn commented on #269
I think the reason this recently broke was that I added `ScalingCellSizeAndPositionManager` which extends `CellSizeAndPositionManager` and sometimes calls `super` methods. Unfortunately as the [Babel caveats page](https://babeljs.io/docs/usage/caveats/) specifies:

If you’re inheriting from a class then static properties are inherited from it via __proto__, this is widely supported but you may run

[2016-06-08 05:11] bvaughn commented on #269
I think the path of least pain for react-virtualized users would be for me to convert to composition for these 2 libraries now. Working on that currently.

[2016-06-08 05:30] #269 closed

[2016-06-08 05:31] bvaughn commented on #269
Check out version 7.3.3. Should work again for IE10+

Thanks for the detailed bug report, @jasonlee-alation. Sorry it took me a few hours to get around to resolving it. :)

[2016-06-08 05:32] bvaughn commented on #242
Hey @3cooper and @piecyk, version 7.3.3 addresses the IE10 `super` issue. Doesn't resolve the flexbox layout issues for IE9 but at least it should simplify IE10 usage.

[2016-06-08 05:44] bvaughn commented on #269
PS Apparently my most recent deploy of the demo site is causing IE10 some other pain (not yet sure why) but this has to do with the bundling of my demo app itself. The local version of the demo app (with the update to react-virtualized) is IE10-compatible so hopefully this should unblock you. It's late here but I'll take a look at the demo site again tomorrow.

[2016-06-08 18:58] bvaughn commented on #269
Demo page has been fixed for IE9 and IE10. :)

[2016-06-10 18:02] pkumar84 commented on #255
Sure, will try. thnx.

[2016-06-14 15:24] gajus opened #274 "Table row is padded to the right with 15px that enables superfluous scrolling"
This is visible in the demo page of the FlexTable and VirtualScroll, https://bvaughn.github.io/react-virtualized/.

Using mouse middle button (or touchpad scroll gesture), I am able to scroll table to the right. Furthermore, only the body adds this padding. Therefore, scrolling body misaligns header with the body.

[2016-06-14 16:23] bvaughn commented on #274
I can't reproduce what you're describing in Chrome, Firefox, or Safari- either with scrollbars on auto or always-on.

[2016-06-15 00:25] trevorr opened #275 "Grid has hardcoded tabIndex=0 that interferes with focusable contents"
I'm working on a component somewhat similar to `react-virtualized-select`, where I have drop-down menu containing a `VirtualScroll` that virtualizes a large number of choices, but I'd like the individual rows to be focusable. (The alternative of styling to _appear_ focused, as is done in `react-virtualized-select`, can lead to accessibility issues, since things like screen readers don't understand

[2016-06-15 02:14] bvaughn commented on #275
Hi @trevorr,

`Grid` is focusable (eg `tabIndex=0`) because it supports keyboard navigation for accessibility reasons. The focused outline can certainly be suppressed in a variety of ways (CSS class or style) if you dislike it.

The `Grid` itself being focusable shouldn't prevent cells/rows within it from being focused. If you click on a focusable child within a focusable parent, the child should

[2016-06-15 03:14] trevorr commented on #275
@bvaughn, thanks for the quick reply! Yes, I could suppress the focus outline, but the real problem is that the `Grid` steals focus from the current row when the scrollbar is clicked. The easiest way to see it is to have a focused row, then click the scrollbox/thumb. Here are some screen shots, though the mouse cursor isn't visible:

https://www.evernote.com/l/AJgGb0Vtc0BFu7Aocx0N88Ql-Ebu_LKSkrU
h

[2016-06-15 05:01] bvaughn commented on #275
Ah, I see. Thank you for elaborating. I can see how that's not ideal for what you're describing.

I will add a `tabIndex` property and do a release momentarily.

Looking forward to seeing your component. :)

[2016-06-15 05:30] bvaughn commented on #275
New `tabIndex` property is available on `Grid`, `FlexTable`, and `VirtualScroll` as of release 7.7.0.

Cheers.

[2016-06-15 05:38] #275 closed

[2016-06-15 05:59] trevorr commented on #275
Awesome, thanks!

[2016-06-15 08:37] gajus commented on #274
Interesting. Here is a FlexTable demo scrolled to the right.

![15-06-2016 09-35-16](https://cloud.githubusercontent.com/assets/973543/16073158/85968fee-32dc-11e6-9df7-3afe94254d50.png)

Here is information about my browser http://whatsmybrowser.org/b/MFX4DV2

I will see if I can replicate the same behavior when I get back home.

Note, this affects not only the demo. The same problem applies when

[2016-06-15 10:14] gajus opened #276 "Misuse of names ("cell" used in place of "row")"
The current markup hierarchy is:

[code]

This does not make much sense, because:

* "cell" is used to store the data (see https://en.wikipedia.org/wiki/Table_cell)
* "row" is used to group cells horizontally
* "column" is used to group cells vertically

Therefore, the markup should be:

[code]

[2016-06-15 13:07] gajus opened #277 "How to get the visible data in the FlexTable?"
I want to get a list of all records that are visible in the table. I want to do this `onScroll`.

The only [documented public methods](https://github.com/bvaughn/react-virtualized/blob/master/docs/FlexTable.md#public-methods) are `measureAllRows` and `recomputeRowHeights`. Is there another way?

[2016-06-15 13:09] gajus commented on #277
Never mind. I just realised that there is an event `onRowsRendered`, which:

[2016-06-15 13:14] gajus commented on #277
This is not ideal though. It requires storing `startIndex, stopIndex` in the state, which triggers an update (, which can be prevented using custom `shouldComponentUpdate` logic).

[2016-06-15 13:15] gajus commented on #277
Is there a functional way to get the current slice?, i.e. using a ref to the `FlexTable` and calling a method to retrieve the data.

[2016-06-15 13:16] gajus commented on #277
Looking at the current source code (https://github.com/bvaughn/react-virtualized/blob/master/source/FlexTable/FlexTable.js) - no, there is not. It would be a useful addition.

[2016-06-15 13:32] gajus commented on #277
Event approach does not work, because `onScroll` is called before `onRowsRendered`. Even if we use `onRowsRendered` to get save current `{startIndex, stopIndex}` in the state, this will not represent the current rows when `onScroll` fires.

[2016-06-15 14:27] bvaughn commented on #276
The markup is just `<div>`s. You're referring to the class names. I don't think the semantics of class names are very important- at least not important enough to warrant a non-backwards-compatible change (which would require a major version bump).

It is the way it is because a `FlexTable` is really just a HOC that decorates a `Grid`. Each "row" in the table is actually a `Grid` "cell" that uses a

[2016-06-15 14:27] #276 closed

[2016-06-15 14:31] bvaughn commented on #277
The indices only need to be stored in state if you want them to trigger a re-render. If you don't- (it sounds like you don't)- then just store them as a "private" instance variables. eg

[code]

[2016-06-15 14:34] gajus commented on #277
As I said in the earlier comment, this is not useful because `onScroll` fires before `onRowsRendered`, i.e. `onScroll` has only access to stale data.

[2016-06-15 14:36] gajus commented on #276
I was referring to the semantic meaning meaning.

It is same like saying it is not important what you name your child.

This makes reading the markup/ CSS confusing to say the least. Naming "row", "column", "cell" as "cow", "chicken" and "goat" would have been less confusing than naming them in ~reverse order.

[2016-06-15 14:43] bvaughn commented on #274
I'm using Chrome 51.0.2704.84 on OS X. I also just gave Firefox 44, Chrome 48, and IE10 a spin on Windows 7 in VirtualBox. I was unable to reproduce what you've described there either.

The outline is the browser's default focus highlight. If you want to disable it you can either set the `tabIndex` equal to -1 (to disable focus entirely) or you could override via a custom CSS class or style. I pla

[2016-06-15 14:43] #274 closed

[2016-06-15 14:44] bvaughn commented on #277
You said that about `onScroll` yes, but the snippet I post above is `onRowsRendered`.

[2016-06-15 14:44] bvaughn commented on #277
Ah, sorry. I just re-read your description and I understand your previous comment now.

[2016-06-15 14:45] gajus opened #278 "FlexTable component becomes very slow with +10 columns"
I have been working the past two days to replace our current grid implementation using https://github.com/developerdizzle/react-virtual-list with `FlexTable` provided by `react-virtualized`.

Here is a striped-down version:

[code]

Nothing out of ordinary.

However, when you scroll the table, there is a considerable lag/ jitter. Upon further inspection, `Grid` component is spending loads of time

[2016-06-15 14:49] bvaughn commented on #278
FYI I've renamed your issue description. The `Grid` component absolutely does not become slow with 10+ columns as the demo easily rows 1,000,000 rows x 1,000,000 columns. You seem to be referring to the `FlexTable` becoming slow with 10 columns- which is something I have no experience with yet. I think at most I've used it with 5-6.

[2016-06-15 14:56] bvaughn commented on #277
The problem with what you're asking is that- as of `onScroll`- the rows rendered in the table/grid/list are actually still the previous rows. It isn't until the next render (triggered by the scroll) that the indices are updated. So the information you want to fetch doesn't exist at that time; even if I added a method it would have "stale" information unless you waited for the next render. (I recom

[2016-06-15 15:19] gajus commented on #277
Sounds like a lacking implementation. A simple solution: You could delay `onScroll` event propagation to the client until after the `onRowsRendered`. This way `onScroll` event propagated to the user would be able to describe the current rendered rows.

[2016-06-15 15:24] gajus commented on #277
We have many tables on the screen. We are using data from the top visible row in the table to adjust scroll of all related tables, e.g. Imagine one table that lists sales (columns: id, time, price) and another table that lists purchases (columns: id, time, price). When user scrolls sales table, we'd use "time" value of the top visible row in sales table to find the nearest time in the purchases ta

[2016-06-15 15:33] bvaughn commented on #277
Sounds like a poor choice of words. A _lot_ of thought and testing (and time) has gone into optimizing scroll performance of this library. The fact that it doesn't handle _this_ particular use case doesn't suggest anything about the quality of the implementation.

[2016-06-15 15:39] bvaughn commented on #277
I have thought a bit in the past about pre-calculating the visible row range (ahead of `render` time, in `componentWillUpdate` for example) and I think I even tried that in a branch at one point- although it's been a couple of months and I'm not sure I recall why it didn't stick. It would be a non-trivial change to make to `Grid` though and it would have implications for HOCs like `CellMeasurer` (

[2016-06-15 15:52] gajus commented on #276
Thats fair reasoning.

[2016-06-15 16:22] bvaughn commented on #278
react-virtualized is a nights-and-weekends project for me so I can't look into this right away. But I'll try to make some time tonight after work to profile `FlexTable` a little to see where the slowness is coming from.

[2016-06-15 16:39] trevorr commented on #275
I've verified that setting `tabIndex={null}` on `VirtualScroll` stops it from taking focus from its contents when the scrollbar is used. Thanks again!

[2016-06-15 16:42] bvaughn commented on #275
Thanks for the confirmation! :)

[2016-06-15 19:57] trevorr opened #279 "Preventing VirtualScroll contents from going under scroll bar"
I've noticed that because the width of the `Grid__innerScrollContainer` is set to the same value as the `Grid`, the contents of a `VirtualScroll` go under the scroll bar. This is causing an issue for me with focusable rows because the right focus border is hidden by the scroll bar:

<img width="431" alt="screen shot 2016-06-15 at 1 58 07 pm" src="https://cloud.githubusercontent.com/assets/928766/1

[2016-06-15 23:12] bvaughn commented on #279
This is somewhat complicated, as you guessed, because of the inner `Grid` and its constraints. See related issues #222 (the most recent and so the most relevant), #154, #131, #116, #101, #80.

I'd welcome suggestions or ideas from you on how to improve this aspect of RV, so long as we could fix without a regression of one of the issues mentioned above.

[2016-06-16 00:28] bvaughn commented on #278
It's also worth stressing that- (particularly with React 15)- dev-mode performance is _not_ great. (This is not something specific to react-virtualized.)

I mention this because a production test app of a `FlexTable` with 20 columns seems relatively performant:
http://rawgit.com/bvaughn/react-virtualized/master/playground/table.html

I wouldn't call it "_virtually unusable_", particularly in Chrom

[2016-06-16 02:38] trevorr commented on #279
The best way I could come up with is to allow `Grid` column and row sizes to be specified as percentages, and then in `VirtualScroll`, specify the width of the single column as `100%`. While much more general than what `VirtualScroll` needs for this issue, generalizing the feature avoided complicating the API with additional properties and (excessively) complicating the lower-level `Grid` componen

[2016-06-16 03:33] hung-phan commented on #123
Oh @phahn, do you mind to share you solution with Collection? I have a problem with grid 2. I want to achieve both colspan, and rowspan

[2016-06-16 08:57] gajus commented on #278
I am pretty sure that depends on the computer. As with many developers, you assume that everyone has a comparable computer. The reality is that an avg. developer has computer that's way above the mean.

In the office setup, I had to use Chrome task manager to kill the tab after trying 20 columns.

However, you are right in saying that production build performance is a lot better.

[2016-06-16 15:15] bvaughn commented on #278
Thanks for the lecture but I'm aware of that. I do test on environments other than my Macbook. My cellphone is a couple of generations old and my Virtual Box VMs are also pretty resource-constrained (4gb of ram).

[2016-06-16 15:27] davidfateh commented on #278
I am also experiencing a bit of lag when using more than 5 columns. It seems to be Chrome and Firefox are hit the worst and Safari is fairly smooth. This is using the windowscroller and flextable.

[2016-06-16 15:33] bvaughn commented on #278
Haven't been able to profile it much yet. Unfortunately I didn't get back from work / work-function last night until 11pm and I was too tired to look at it at that point. I'll try to make some time to dig into it this evening. Would welcome any help if you get there before me. ;)

[2016-06-17 13:13] phahn commented on #123
Hey @hung-phan I have to see if I can share some code after the weekend but in the meantime here's what I'm doing:

I have configuration objects for columns like `ColumnGroup` which can contain other `ColumnGroup`s and `Column`s

I pass this list of `ColumnGroups` to my grid which flattens it and calculates for every entry it's level (distance from top) and the totalWidth of that `ColumnGroup` whi

[2016-06-17 14:06] bvaughn commented on #123
Interesting. Initially, I think it may be possible to do something similar with `Grid` by overriding (forking) `cellRangeRenderer`. And `Grid` would be more efficient than `Collection` since it can make some shortcut assumptions about its data due to the fact that it's all checkerboard/linear.

[2016-06-17 14:11] bvaughn commented on #278
I did a bit of profiling last night after all. From what I can see, there don't appear to be any big wins. The slowness seems to be coming from all of the features / functionality `FlexTable` provides. As I strip out features, it gets faster. (For example, stripping out the extra `<div>` wrapper in each column that truncates text and prevents it from overflowing its flexbox parent speeds things up

[2016-06-17 15:28] hung-phan commented on #123
Thanks @phahn, and @bvaughn for the idea

[2016-06-17 15:30] bvaughn commented on #123
If you create a `cellRangeRenderer` implementation this that you like, consider submitting a PR. If it seems generalizable enough, I'll add it for others. :)

[2016-06-17 15:34] aduth opened #281 "WindowScroller degraded performance due to assigned scrollTop"
Related: #270 cc @minheq

I've been trying to incorporate the newly-introduced WindowScroller component into our application, and while I was successful in doing so, I noted that scrolling the page did not feel very smooth.

After some profiling, I found that this set of lines is triggered very frequently, causing many forced repaints:

https://github.com/bvaughn/react-virtualized/blob/19bcb10/sou

[2016-06-17 17:09] davidfateh commented on #278
Thanks for checking it out. I've forked it and I'm going to take a look as well although it's going to take me a bit longer...

Do you think it's necessary for you to worry about display at your level? Could you leave that more to the end user? Maybe a user of this would actually want overflow or no overflow or some kind of custom overflow like ellipsis. I wonder if leaving that up to the user and

[2016-06-17 17:21] bvaughn commented on #278
Well I guess that depends. On the one hand, `FlexTable` and `VirtualScroll` exists _solely_ for the convenience. If a user wants (or is willing to) take on the "display" logic he/she could just use `Grid` and- in some cases, like this- it would likely be faster.

That being said, I'm not afraid to delegate some of the display work if it could speed things up. Just need to weigh the pros (how much

[2016-06-17 17:39] davidfateh commented on #278
I've played with the `Grid` and it is definitely faster and visually not as laggy when using multiple columns. But the use of arrays for rows instead of key/value is not ideal for replacing it with the table seeing as it would be possible for the data to be displayed in the wrong order in any given row.

I understand what the `Grid` is supposed to be used for but I wouldn't agree that using it as

[2016-06-17 17:42] bvaughn commented on #278
I didn't mean it would be a _drop in replacement_ per say. Rather, since the `FlexTable` decorates a `Grid`, it would be possible to achieve the same sort of functionality with a custom decorator (eg `MyFlexTable`) that cut out features/functionality you didn't require in the vanilla `FlexTable`.

Still, I want to get as much performance as I can out of `FlexTable`- so my main hope is that we can

[2016-06-17 17:47] davidfateh commented on #278
Yes I agree. I'd like to get more performance from `FlexTable` as I really like the component as a whole. I'm going to take a jab at it this weekend and see if I can find anything as well.

Thanks for all the responses, I appreciate your punctuality on this :)

[2016-06-17 17:49] bvaughn commented on #278
No problem. I'm excited to have some help! :)

I've been working this morning on a testing harness that measures scrolling performance in a way that's more reliable than the adhoc testing I've been using. I'll share it with you if you'd like. It's not very pretty at the moment but it gives me a higher confidence that the changes I'm making are actually having a positive or negative impact.

[2016-06-17 17:54] davidfateh commented on #278
Yes definitely, I'd love to see that. I was going to go straight to the React perf addon for traditional benchmarks.

[2016-06-17 19:22] bvaughn commented on #278
I've found `React` perf to be a bit confusing. Could be me. Admittedly I haven't spent _much_ time with it.

Here's a gist of what I'm doing:
https://gist.github.com/bvaughn/1fc166d5cb3f8c174a1552eeaeeaa0e6

Needs to be cleaned up before I'd be willing to _really_ share it but it gives a reasonable idea of the average framerate for a table being aggressively scrolled.

Can be pasted into the conso

[2016-06-17 20:34] bvaughn commented on #278
Actually I went ahead and posted it to Git as well so you can try it directly:
https://rawgit.com/bvaughn/react-virtualized/master/playground/table.html

Click anywhere on the page to start the perf test. Once it completes it will print stats to the console.

Test runner utility code here:
https://github.com/bvaughn/react-virtualized/blob/master/playground/test-runner.js

[2016-06-17 23:15] bvaughn commented on #278
FYI I just realized that my table test harness was pointing at a dev build of React (in CDN but still dev build). Ugh. Updated to use the .min.js (production) build and performance is significantly better. Still room for improvement but much better.

[2016-06-18 00:03] bvaughn commented on #278
I've been able to squeeze an additional 0.5-1 FPS out of `FlexTable` via PR #282 (from ~41 to ~42, it varies a bit test to test). This table contains 40 columns and is scroll-slammed intentionally to stress the test. Decreasing the column count to 20 increases the FPS to ~54.

Anyway, stepping away for a bit. Will continue looking.

[2016-06-18 02:44] bvaughn commented on #277
I don't think I'm going to be able to support this feature, at least not in the near future. As such I'm going to close this issue. (It helps me with maintenance if I don't keep issues open that I don't plan to act on in the near future.)

I would be happy to consider a PR if you'd like to contribute towards adding this functionality. I don't think that deferring the `onScroll` callback is a route

[2016-06-18 02:44] #277 closed

[2016-06-18 20:11] aduth commented on #281
D'oh, now that I think of it, that's more or less what `autoHeight` is, right? I wonder if it would be simple enough to key off of that prop, not checking against or trying to assign `scrollTop` if `true`. I might toy with this idea and submit a pull request if it works out.

[2016-06-19 11:34] minheq commented on #281
I see :) I actually also encountered performance issues on the project I am working on, but only when I used development mode. With production build it is smooth though. But it could definitely be improved. Thanks for looking into this :D I will try to look into this in free time as well and try to optimise the HOC :)

[2016-06-19 15:58] bvaughn commented on #278
Just a quick update after doing some more experimentation this morning. Tried a couple of different approaches to cell-caching in `Grid`. All added complexity but made no noticeable improvement in performance.

Did find a pretty big win (increasing FPS by ~1/3) by eliminating the `<div className='FlexTable__rowColumn'><div className='FlexTable__truncatedColumnText'>...</div></div>` wrapper element

[2016-06-19 15:59] bvaughn commented on #278
FYI @davidfateh I released the FPS utility I created the other day for measuring this stuff as its own Npm package: https://github.com/bvaughn/fps-measurer

[2016-06-19 16:05] davidfateh commented on #278
Hey admittedly I haven't looked at this yet this weekend but it seems like you've done a lot of work. I thank you for that.  Is it possible that instead of using the truncated cell column we can instead use `text-overflow: ellipsis;`? That may help speed up the process.

Also, another possibility is that you can include a `prop` that will enable the truncation by default (so you don't need a major

[2016-06-19 16:08] bvaughn commented on #278
Unfortunately, no. The flex spec doesn't support direct-text content being truncated via ellipsis. (It gets clipped instead.) The only work around to this - at least the only one I'm aware of - is to put a _non_ flex container around the text and set `text-overflow: ellipsis;` on it. That's why I have 2 `<div>` in the first place unfortunately. The outer one (flex) handles vertically centering the

[2016-06-19 19:12] bvaughn commented on #278
Good news, not including the above `<div>` changes, I've still been able to add 3-4 additional FPS in my test harness with the changes made in the branch corresponding to this ticket.

[2016-06-19 20:39] bvaughn commented on #278
Good news! I've been able to roughly double the `FlexTable` frame rate for my stress test project after several small tweaks and changes in the `FlexTable-perf` branch. I want to do a bit more testing but I hope to have a backwards-compatible release ready to go out later today.

[2016-06-19 23:16] bvaughn commented on #278
Just realized react-virtualized 7.8.0.

For me, this released dramatically improves frame rate for `FlexTables` with 20+ columns. I see 10-15 FPS improvement in Chrome and Firefox and near 2x improvement in Safari.

I believe that this, combined with using _production_ React builds for baselines instead of development builds should hopefully help address your concern. As such, I'm going to close t

[2016-06-19 23:16] #278 closed

[2016-06-19 23:17] bvaughn commented on #281
I just released version 7.8 with significant scrolling performance improvements to `FlexTable`. Can you check again and let me know if this helps with any of your concerns? (I didn't specifically do anything related to this issue but I still wonder if the release helps with what you're seeing.)

[2016-06-19 23:26] bvaughn commented on #278
PS. If you'd like to compare the differences yourself:
* Before: file:///Users/brianvaughn/Documents/git/react-virtualized/playground/table.html?source=7.7.1
* After: file:///Users/brianvaughn/Documents/git/react-virtualized/playground/table.html?source=7.8.0

Load the page, click anywhere to start the test, and watch it log FPS info to the console. On my laptop using Chrome 51, v7.7.1 logs 36fps

[2016-06-20 03:58] bvaughn commented on #281
Bummer. Had to revert the `tabIndex` change to `Grid` and release as 7.8.1 to avoid breaking keyboard accessibility too badly. This drops a couple of FPS because of focus causing repaints. But.... it's still a marked improvement for `FlexTable` over all.

[2016-06-20 03:59] bvaughn commented on #278
Bummer. Had to revert the `tabIndex` change to `Grid` and release as 7.8.1 to avoid breaking keyboard accessibility too badly. This drops a couple of FPS because of focus causing repaints. But.... it's still a marked improvement for `FlexTable` over all.

[2016-06-20 11:50] aduth commented on #281
@bvaughn In my case, since I'm using `VirtualScroll`, not sure I'd reap the benefits of any `FlexTable` improvements? But I'll give it a shot though, hopefully sometime today.

Yesterday I found some time to put together some changes to avoid assigning the `scrollTop`, which I think works and has a small benefit, but not a dramatic improvement. Still worth adding I think, but had some trouble with

[2016-06-20 16:38] bvaughn commented on #281
D'oh! Sorry I must have misremembered when I read that comment. I thought I recalled you saying you were using `FlexTable` + `WindowScroller`.

Yes, `Grid` uses `pointer-events` while scrolling for performance reasons. Maybe we could add a prop (eg `disablePointerEvents`) so that `WindowScroller` could also trigger this optimization. It doesn't feel the cleanest separation but..._if_ it significan

[2016-06-20 16:52] davidfateh commented on #278
I definitely see the performance boost. Thanks for taking the time to look into this! I'm going to continue to play with it on my end as I actually do some implementation for the project I'm working on.

[2016-06-20 16:54] bvaughn commented on #278
Huzzah! Glad to hear. :)

I have some more ideas that came to me over night that I'll play with some more. They'll probably be more incremental but every little bit helps.

[2016-06-20 16:56] davidfateh commented on #278
Are you still considering removing the truncation completely and letting the user decide that? Or maybe just have a flag that disabled the truncation and thus removes the need to render the extra div?

[2016-06-20 16:57] bvaughn commented on #278
I was actually able to remove 1 of the 2 wrapper `<div>`s already. The one that remains is used to set flex grow/shrink/basis properties- which is pretty important.

I _could_ potentially remove that one as well- if people provided a custom renderer. But by default the `FlexTable` cell renderer just returns a string that's wrapped with this `<div>` so it's necessary in that case.

[2016-06-21 02:45] jfrolich opened #284 "[Request] Offset grid top & left"
Currently it is not possible to have more offset than the cell offset in a grid on the top and the left inside the grid. We cannot set the padding, because it's being positioned absolutely. The right/bottom can however been done with padding (because it just leaves the inside of the components with more space.

My use-case would be to scroll the elements behind a static semi-transparent overlay wi

[2016-06-21 03:48] bvaughn commented on #284
Hey @jfrolich,

What you're describing would almost be possible using the [`cellRangeRenderer` property](https://github.com/bvaughn/react-virtualized/blob/master/docs/Grid.md#cellrangerenderer). Something like...

[code]

Unfortunately this would result in the last column and row being slightly clipped.

As far as supporting this in vanilla `Grid` goes, I'm reluctant to be honest. It feels a littl

[2016-06-21 08:41] maxnowack opened #285 "Use VirtualScroll with Flexbox"
I've a scrollable flexbox layout in my app. There are squared boxes with fixed height and width. Depending on the screen size, more or less boxes will be shown in a row.
Is there a way to use `VirtualScroll` in a flexbox like this?

[2016-06-21 13:17] bvaughn commented on #285
Hi @maxnowack,

I'm not sure I understand. I _think_ you're saying that you want to use a `VirtualScroll` where each row contains some number of these boxes, and as the screen gets narrower you'd need more rows in order to contain all of the boxes.

If so then yeah, you could use an `AutoSizer` and a `VirtualScroll` together to do that. Something like this...

[code]

[2016-06-21 13:17] bvaughn commented on #285
Going to close this issue since I think your question has been answered, and I try to keep the issues list pruned. But I'll see any follow up questions if you have them. :)

[2016-06-21 13:17] #285 closed

[2016-06-21 13:19] maxnowack commented on #285
Thank you @bvaughn! I'll try that :)

[2016-06-21 13:54] jfrolich commented on #160
Also having this issue, just updated from 7.6.0 -> 7.8.1 and the issue looks to have been getting worse. Will also test using the tech preview. Chrome works fine. Amazing work btw, love the lib!

[2016-06-21 14:00] bvaughn commented on #160
Hey @jfrolich,

Yeah, the issue is still around for Safari. I actually tested it just earlier this morning to see if an update had fixed it yet (since it's fixed in Safari Technology Preview for some time now). I'd be surprised if the issue got any worse from 7.6 to 7.8 to be honest. I think it's just the sort of thing that's sometimes easy to reproduce and sometimes harder.

Thanks for the compli

[2016-06-21 14:05] Guria opened #286 "flextable demo hide index checkbox"
Current FlexTable demo `hide index` checkbox is broken. It hides only column in header, but not in data. At least until scroll occured. Not sure if it FlexTable issue or just broken demo.

[2016-06-21 14:08] superlaziness commented on #160
@jfrolich, if you also have updated to React 15.x, try to run it in production.

[2016-06-21 14:17] bvaughn commented on #279
I'm a little curious how you're seeing the left focus border of your row in the first screenshot you sent. For me, I only see the top-bottom- and even then only after adjust z-index when focused:

<img width="467" alt="screen shot 2016-06-21 at 7 16 22 am" src="https://cloud.githubusercontent.com/assets/29597/16232623/2f3eab1a-3780-11e6-8517-70170c382462.png">

[code]

[2016-06-21 14:32] bvaughn commented on #160
Hard to overstate the different between Prod and Dev for React 15 yeah

[2016-06-21 14:40] bvaughn commented on #286
Thanks @Guria. I'll check it out.

[2016-06-21 14:52] bvaughn commented on #286
Fixed via 7.8.2. Nice catch. :)

[2016-06-21 14:52] #286 closed

[2016-06-21 15:09] jfrolich commented on #160
@superlaziness: I run it in production. Probably indeed it just looked worse, do not have any data :)

[2016-06-21 15:11] jfrolich commented on #284
Thanks, will try your solution and see if that solves my use-case.

[2016-06-21 15:25] #281 closed

[2016-06-21 15:28] bvaughn commented on #281
7.8.3 has been released with this change. Enjoy!

[2016-06-21 18:21] EvNaverniouk opened #287 "Grid's `shallowCompare` causes update issues for FlexTable"
Hey Brian,

I'm having issues with the FlexTable. It never updates the content of my cells when their data changes, resulting in stale content. I've created a stripped down example illustrating the problem here: https://plnkr.co/edit/FXAmSypCcNRvJcoCu3SW?p=preview

I've tracked down the problem.
- FlexTable renders the Grid component
- The Grid component has a shallowCompare for shouldComponentUpd

[2016-06-21 19:13] trevorr commented on #279
I'm using Bootstrap, which sets `outline-offset: -2px` for `a:focused`, and my dropdown menu is structured as `ul > li > a[tabindex=-1]`. So I'm focusing the row content, rather than the row container.

Regarding aesthetics, I'll agree that unbalanced left/right looks worse, but I hope you can understand that I'm not willing to drop the left/right focus edges due to a sizing bug. Everything else i

[2016-06-21 19:42] bvaughn commented on #279
Oh, exciting! I look forward to seeing it once you open source it. :) It's really cool to see things being built on top of react-virtualized.

Understood about the left/right focus thing. I'll give it some more thought. I'm super wary of adding more forking complexity to `Grid` because it means I have to support that going forward and I'm already stretched a bit thin on this project. We'll figure

[2016-06-21 20:05] bvaughn commented on #287
Hey @EvNaverniouk,

I recently removed some j.i.t. closures from `FlexTable` in an effort to speed things up. These were effectively bypassing the `shallowCompare` check since each time a new function instance was being provided. (It also incurred the overhead of creating the new function instance, although this was much lower.) In other words, the only reason this worked before was a `FlexTable`

[2016-06-21 20:39] bvaughn commented on #287
Version 7.9.0 just went out with a new `forceUpdateGrid` method that...does...what its name indicates. ;)

Here's an updated version of your Plunkr that works with this new method:
https://plnkr.co/edit/DPhBK1aJEsITXHLkcU5F?p=preview

[2016-06-21 20:39] #287 closed

[2016-06-21 20:49] bgerm commented on #287
Awesome.  I just ran into this.  I could only come up with passing object.hashCode() to the `aria-label` prop, because it gets passed down to the Grid.

[2016-06-21 20:53] EvNaverniouk commented on #287
This behaviour feels... wrong to me somehow. It's hard for me to know when I need to call `forceUpdateGrid` since the component that renders the FlexTable isn't always the same component that manages the changes to its data. Each cell might have it's own components that it's rendering, each requiring different data.

I understand why it's needed for performance reasons, but for a table where data

[2016-06-21 20:56] bgerm opened #288 "headerRenderer receives wrong dataKey when the column changes its dataKey"
I'm using 7.8.3 and am trying to introduce responsive columns, such that a different set appear depending on the width we get from AutoSizer.  I ran into an issue where the headerRenderer was receiving the wrong dataKey after the column of the same index switched to a different column type (when the width changed).

I had to change this:

      <div
        {...a11yProps}
        key={`Header-Col$

[2016-06-21 20:57] bvaughn commented on #287
Understandable...but I'm wary to enable the poorer-performing solution by default.

[2016-06-21 23:48] EvNaverniouk opened #289 "FlexTable's header columns become misaligned when using flexGrow"
Using v7.9.0, when a FlexTable requires vertical scrolling (ie. more rows than can fit) and you use `flexGrow` on any column, the initial render of the table doesn't correctly align the column headers.

I have created a reproducible test case here: https://plnkr.co/edit/2iYYHNlDEcI29W2DgJBL?p=preview

Note the misaligned "Age" header title.

![screen shot 2016-06-21 at 4 48 21 pm](https://cloud.gi

[2016-06-22 00:40] bvaughn commented on #289
Hm. Seems scrollbar related.

I'll try to take a look when I can. I'm getting a bit overwhelmed with features/issues though.

[2016-06-22 01:56] bvaughn commented on #288
Can you provide a reproduction case?

For instance, the `FlexTable` demo: https://bvaughn.github.io/react-virtualized/?component=FlexTable

If you click the "hide column?" checkbox, the headers and columns are updated.

[2016-06-22 02:02] bvaughn commented on #288
I just updated my test project locally to swap columns and confirmed that it seems to be working as expected. The `headerRenderer` is invoked with the updated/correct `dataKey`.

The only possible source of confusion I see is that...unless some external prop changes (eg `rowCount`) the table rows won't be automatically updated. This is because react-virtualized components are _pure_ (they don't up

[2016-06-22 02:06] bvaughn commented on #288
Actually it looks like your source of confusion may be the parameters. Check out [the docs for `headerRenderer`](https://github.com/bvaughn/react-virtualized/blob/master/docs/FlexColumn.md#headerrenderer). It does not receive a `columnIndex` parameter.

Going to close this for now as it doesn't seem to be a bug (at least not one I can reproduce). Please let me know if you have any questions though

[2016-06-22 02:06] #288 closed

[2016-06-22 05:08] bvaughn commented on #284
I'm struggling to keep on top of issues the last 2 weeks. Lots of requests coming in. So~ I'm going to close this one for now as it's not immediately actionable for me. But we can keep talking! If you can provide me with some more info, hopefully we can find a solution. I'll keep an eye on comments! :)

[2016-06-22 05:08] #284 closed

[2016-06-22 05:26] bvaughn commented on #289
Hey @EvNaverniouk,

This issue has been fixed in 7.9.1! Thanks for the bug report and the repro Plunk!

[2016-06-22 05:26] #289 closed

[2016-06-22 08:09] nullorundefined opened #290 "Support for passing style to Grid from FlexTable"
Could we please have another prop for FlexTable, say `gridStyle`, and this will be passed to the child Grid component?

[2016-06-22 10:21] martinpesout opened #291 "Faster onScroll with Scrollsync"
I'm using your example https://bvaughn.github.io/react-virtualized/ to create big datatable with fixed table header. Problem is when I start scrolling to the sides. You can see it on your example (tested in MacOS Chrome with magic mouse). If you scroll to the side you can see that header is updated with some delay. Is there any chance how to improve this speed. I know that it's Javascript solution

[2016-06-22 14:28] bvaughn commented on #291
Hey @martinpesout,

Unfortunately fixed-data-table is kind of an apples-to-oranges comparison. `ScrollSync` is synchronizing the scroll offsets between multiple, individually-scrollable items. Because scrolling is managed by a separate thread, and JavaScript is only periodically notified of the updated position, there's some latency issues with this. Unfortunately they can't be avoided (at least n

[2016-06-22 14:28] #291 closed

[2016-06-22 14:29] bvaughn commented on #291
(We can keep talking here too. I'll see and respond to comments on this issue.)

[2016-06-22 14:53] vincent-io commented on #291
Out of curiosity: why doesn't this happen when using the scrollbar? (It moves in sync then)

[2016-06-22 14:56] bvaughn commented on #291
I _think_ scrollbar dragging is done in the UI thread. The reason scroll-wheel scrolling is in a separate thread is so they can do the smooth animation.

[2016-06-22 14:58] vojtech-dobes commented on #291
Hi, if I understand it correctly, `ScrollSync` is relying on native scrolling and synchronization of the scroll position is happening ex post? Therefore to achieve sooner synchronization one would have to sacrifice benefits of native scrolling - is that the problem?

[2016-06-22 14:58] vincent-io commented on #291
So, as a work-around, can we actually artificially drag the scrollbar when scrolling?

[2016-06-22 15:11] EvNaverniouk commented on #289
Fix confirmed!

[2016-06-22 15:22] bvaughn commented on #291
You are both correct.

There are things you could do to force the browser to scroll in the UI thread (eg adding a mousewheel handler somewhere in the DOM ancestry) but this can cause the UI to feel unresponsive in other ways.

[2016-06-22 15:28] bgerm commented on #288
Hi Brian,

Sorry for the confusion.  The code snippet I provided was from `_createHeader` of FlexTable.js (https://github.com/bvaughn/react-virtualized/blob/master/source/FlexTable/FlexTable.js#L416).

I created a demo app that tries to make use of dynamic columns w/ column filtering (https://github.com/bgerm/flextable-filter-sort/).  To give an example of the bug, if you run the demo in a large r

[2016-06-22 16:51] bvaughn commented on #290
Available in 7.10.0 as `gridClassName` and `gridStyle`.

[2016-06-22 16:51] #290 closed

[2016-06-22 23:14] bvaughn commented on #288
No worries. Thanks for the extra info and the reproduction case.

If I add logging to your `renderHeader` method like so...
[code]
Then when ther are 4 columns I see:
[code]
And when I resize it so that only 3 show, I see:
[code]
So the correct `dataKey` is being passed to the header.

The problem seems to be that your `FilterHeader` component is using `defaultValue` instead of `value` for the inp

[2016-06-22 23:57] bgerm commented on #288
Thanks a lot for taking the time to go through the code.  I still think there may be a key reconciliation issue.

Since the width is initially 0, the third column starts out as "created" and then becomes "verb" (assuming large resolution).  If in the constructor of FilterHeader you add `this.state = { ..., dataKey: props.dataKey };` and then in the render you have `console.log('dataKey', this.stat

[2016-06-23 00:01] bvaughn commented on #288
If you want to update your example so that it reproduces the problem you're referring to, I'll take another look.

[2016-06-23 00:22] bgerm commented on #288
Cool.  Made the update.

[2016-06-23 01:59] bvaughn commented on #288
`FilterHeader` seems to have a bit of a React anti-pattern going on. The `dataKey` in `state` is set only once, in the constructor, based on the _initial_ `props` value. But when the value in `props` changes (as the component is re-rendered) the `state` value gets out of sync.

You can see this happening by adding the following to `FilterHeader`:
[code]

Now console will log...
[code]

[2016-06-23 02:01] bvaughn commented on #288
Still pretty sure `FlexTable` is doing the correct thing here.

If your components have `state` that is dependent in any way on `props`, be sure to use [the `componentWillReceiveProps` lifecycle method](https://facebook.github.io/react/docs/component-specs.html) to update `state` accordingly. (Or better yet, just drive everything off of `props` if you're able and avoid the potential pitfall.)

[2016-06-23 09:12] vojtech-dobes commented on #291
Hi Brian, I've been thinking :).

`ScrollSync` seems having its own way and reasons, and it's probably not worth to hack it. Adding something on top of it will only lead to performance downgrade, so that doesn't seem like right way to solve our problem.

So I think about `Grid` itself. If I am not omitting some important factor, fixed header is just a "row" that is special because:

1. Is never re

[2016-06-23 15:19] bvaughn commented on #291
Have considered that before but could not this of an Api for it that wasn't clunky.

I tend to think that overriding the `cellRangeRenderer` may be the best/easiest way for someone who wants fixed rows or columns. Because there are a lot of possible things you might want. Fixed left or right column or both? Fixed header or footer row or both? More than one fixed row/column? All of the above?

[2016-06-23 15:29] vojtech-dobes commented on #291
Thanks, this looks very interesting, will look into it first. The combinations you mention are all desired after all as well :).

[2016-06-23 19:34] ducky427 opened #292 "Webpack UMD config and `react-addons-shallow-compare`"
Hi.
I am using the UMD build of this library. It seems that the UMD webpack config file doesn't list `react-addons-shallow-compare` as an external package. So it is included in the final build file. I think this shouldn't be the case. But I don't know enough by webpack to suggest a fix.

Any help would be appreciated.

Thanks

[2016-06-23 19:40] bvaughn commented on #292
Hey @ducky427,

Interesting. I think I agree with you that it shouldn't be included in the UMD build.

The fix for this is pretty simple. I just need to add a new externals entry for `react-addons-shallow-compare` [here](https://github.com/bvaughn/react-virtualized/blob/master/webpack.config.umd.js#L16).

[2016-06-23 19:58] bvaughn commented on #292
Hm, not as straight forward as I hoped. Not sure how to make Webpack play nicely with something from `React.addons`. Tried a couple of things without any luck. Will take another look at this in the evening. In the meanwhile, help appreciated if anyone knows the answer. :)

[2016-06-23 20:49] ducky427 commented on #292
I think I've figured it out. PR sent.

[2016-06-23 21:40] #292 closed

[2016-06-23 21:54] bvaughn commented on #292
7.11.1 release is available with this UMD fix. Thanks for your help!

[2016-06-23 22:02] ducky427 commented on #292
Thanks a lot for the quick release!

👍

[2016-06-23 22:36] ZeeStorm commented on #287
I feel this is a big enough miss that should be openly expressed in the documentation. To know that custom cell rendering on data change being essentially non-existant and requiring a constant forceUpdateGrid really doesn't work for setups that have data changing rapidly. It's a shame, I really wanted to use this, but I don't think it's a good fit for my cases, at least.

[2016-06-23 22:43] bvaughn commented on #287
@ZeeStorm: It is pretty openly stated in the documentation [here](https://github.com/bvaughn/react-virtualized/#pure-components) on the home page and [here](https://github.com/bvaughn/react-virtualized/blob/master/docs/FlexTable.md#forceupdategrid) on the `FlexTable` docs page.

I understand your concern about the inconvenience but reversing the default on this would be too big of a performance hi

[2016-06-23 23:00] ZeeStorm commented on #287
@bvaughn: This is true to what @EvNaverniouk posted, where the data inside the cell changes, and not causing an update. However, my actual row data is changing, and not causing an update. For example, I have a record set with a column named "dataType". I have an external function that calls a connected action to update this record (via a reducer using FB's immutable `update`). Inside of the compon

[2016-06-23 23:03] bvaughn commented on #287
Both `FlexTable` and `VirtualScroll` are built on top of `Grid`. They're both HOCs that decorate a `Grid`. In the case of `VirtualScroll` it does little more than set some default properties on the "decorated" `Grid` but in the case of `FlexTable` - it's rendering some surrounding UI (eg table headers).

Sounds like you're describing a scenario where `FlexTable` properties change but the underlyin

[2016-06-23 23:07] ZeeStorm commented on #287
I guess that is where the drop off of my understanding of where the props change detection happens. I appreciate the explanation.

[2016-06-23 23:12] bvaughn commented on #287
No problem. It's not very intuitive I guess, particularly if you don't know the internals of the library. I want to make react-virtualized as user-friendly as possible unless it comes at a big performance cost. In this case, I think we can compromise. Let me think on it some more and maybe this evening after work I can put out an update with this.

[2016-06-24 06:00] bvaughn commented on #287
So I just released 7.11.2. The only change in this version was that I pass-thru all of `FlexTable` props to the inner `Grid`. This means that if a prop changes and triggers `FlexTable` to re-render, it will always also re-render the inner `Grid`. This doesn't seem to have harmed performance any (from my initial testing) and does hopefully make the component more intuitive and user-friendly to work

[2016-06-24 08:08] pr0digy opened #294 "Custom FlexColumn"
Would you consider removing FlexColumn type restriction in FlexTable children check?  That would allow using custom pre-configured FlexColumns.  For example: index column, column with an image/icon, or a link or a checkbox with certain behavior.

Also, some libraries, such as react-intl, provide an odd interface and require one to [inject](https://github.com/yahoo/react-intl/wiki/API#injection-api

[2016-06-24 14:08] bvaughn commented on #294
Hey @pr0digy,

I'm not familiar with react-intl. Will it proxy the props for the "injected" component? Or does it just inject props into the component and render it? B'c if the latter- it wouldn't work as a `FlexTable` child.

Have you considered just using react-intl to wrap your rendered table cell instead? Here's what I'd try. Let me know if something like this works? :)

[code]

[2016-06-24 14:35] pr0digy commented on #294
Thanks for you suggestion, Brian!

Rendering cells is not an issue, the problem lies within column header labels - there is no custom renderer for those.

I should clarify, react-intl has a number of components, like FormattedMessage and I can use those within a renderer, but when it comes to inline attributes which require simple data types injectIntl API has to be used...  So, in this case, I ca

[2016-06-24 14:48] bvaughn commented on #294
Sure there is. :) You can pass `FlexColumn` a [`headerRenderer`](https://github.com/bvaughn/react-virtualized/blob/master/docs/FlexColumn.md#headerrenderer) too (or instead, in your case).

[2016-06-24 16:54] ZeeStorm commented on #287
Thank you, I really appreciate it!

[2016-06-24 17:01] bvaughn commented on #287
No problem. You guys made a good case.

I still intend on adding a `pure` property to let you opt out of shallow comparison entirely if you want, but i need to work through an infinite loop in `FlexTable`.

[2016-06-24 23:13] EvNaverniouk commented on #287
Thank you. 7.11.2 is working great for me. Removed all my `forceGridUpdates` :)

[2016-06-24 23:26] bvaughn commented on #287
Excellent! I'm glad to hear that. I know they're awkward. :)

[2016-06-25 22:09] pr0digy commented on #294
Oh, I feel silly now :) Sorry for bothering you for no reason.  Thanks for taking the time to explain!

[2016-06-25 22:09] #294 closed

[2016-06-25 22:34] bvaughn commented on #294
No problem at all! Glad it works for you. :)

[2016-06-26 03:47] lwansbrough opened #297 "TypeError: Cannot read property 'offset' of undefined"
When scrolling _really_ fast, the following error can always be reproduced.

![](https://i.imgur.com/5bBy2Gv.png)

It appears to be the result of a floating point issue. I was able to reproduce this both on my iPhone and Chrome.

![](https://i.imgur.com/NqGAa8e.png)

Maybe just `parseInt(...)`?

[2016-06-26 04:16] bvaughn commented on #297
I've never seen this, and I've fast-scrolled _a lot_ while testing. Could you tell me more about where you're seeing it? (What app/context? What OS and Chrome version? Which react-virtualized version?)

[2016-06-26 04:22] lwansbrough commented on #297
OSX 10.10.5, Chrome 50.0.2661.102 (64-bit)

Rendering inside a Material UI List.

[code]

I'm using a custom scroll bar which allows me to scroll from 1 to 10,000 in 100 pixels. (By setting the `scrollToIndex={skip}` where `skip` is a percentage of `leaderboardList.length` (ie. 5000).

[2016-06-26 04:28] lwansbrough commented on #297
Related? https://bugs.chromium.org/p/chromium/issues/detail?id=604033

But I also get the issue on Safari 10 on iOS so I don't know.

[2016-06-26 04:32] bvaughn commented on #297
Can you give me a repo case? Plunker would be nice. Git repo would be acceptable as well.

[2016-06-26 04:33] bvaughn commented on #297
Considering I've never seen this in a vanilla react-virtualized project, it's hard to debug.

[2016-06-26 05:23] lwansbrough commented on #297
I'll see if I can set it up. I suspect rapidly updating that scrollToIndex property will probably trigger the issue.

[2016-06-26 06:56] lwansbrough commented on #297
The issue was originating from my application, but thank you for your quick response!

[2016-06-26 06:56] #297 closed

[2016-06-27 10:03] martinpesout commented on #291
Hi Brian,

I've found solution for this problem. We don't need to "hack" your Grid. Solution is in clever trick. I'll never render table with smaller width than is summary width of all columns. So you won't have horizontal scrollbars in your `Grid`. I'll add another wrapper around your `Grid` which contains header and allow us only to scroll horizontally (so you will scroll horizontally together w

[2016-06-27 15:13] bvaughn commented on #291
Hey @martinpesout,

Thanks for sharing your solution. Don't suppose it's anywhere online that I could access to see for myself? :)

[2016-06-27 15:43] martinpesout commented on #291
I'll try to give you an access to our app as soon as possible. So you will be able to see it in action. But we have to solve something before release. I'll let you know.

[2016-06-27 16:28] bvaughn commented on #291
Sounds great! I look forward to seeing it.

Didn't sleep well last night so my brain's a bit fuzzy this morning. But when I'm a bit more alert, I want to look at what you mentioned above and try to see if there's something generic / reusable there for others.

[2016-06-28 03:29] bvaughn commented on #279
7.11.3 has this fix.

[2016-06-28 03:29] #279 closed

[2016-06-28 10:10] vjancik opened #301 "Data changes don't propagate to Grid cells to cause a rerender"
My use case broke, with the update to 7.11.0.
**The FlexTable didn't rerender a row when the data changed, until I started scrolling.**

I updated to 7.11.2 and the issue seemed resolved.

However now I started using VirtualScroll, and I am experiencing the same issue with it.
I tried updating to 7.11.3, but it seems to be there as well.

Basically, the moment I scroll, the row rerenders with the

[2016-06-28 14:50] bvaughn commented on #301
I think the underlying issue here is what's mentioned in the docs:
https://github.com/bvaughn/react-virtualized#pure-components

If the rows change, but no react-virtualized props change, then things don't get re-rendered.

I backed off of this for `FlexTable` for simplicity's sake. I just relaxed the pass-thru props on `VirtualScroll` similar (released as 7.11.4). If this _doesn't_ result your is

[2016-06-28 14:50] #301 closed

[2016-06-28 15:33] vjancik commented on #301
Okay, so your update 7.11.3 -> 7.11.4 didn't fix the issue, but your comment made me realize, that with VirtualScroll, unlike with FlexTable, I don't actually pass the data in as a prop. I only specify a rowRenderer, the output of which does change when data changes, but no props on the actual VirtualScroll actually change.

I got around this by passing the data to VirtualScroll through the data p

[2016-06-28 15:39] vjancik commented on #301
Based on this commit:
https://github.com/bvaughn/react-virtualized/commit/8184bcb6fb3aaf89ff58d9fe8877554702882159

I would have guessed my fix wouldn't work prior 7.11.4, but it does (with 7.11.3). Strange?

[2016-06-28 16:29] bvaughn commented on #301
That's a pretty common source of confusion. It's why I added the "pure components" blurb to the main README.

The `shallowCompare` function doesn't just limit its comparisons to the declared `propTypes` of a component. Any prop (include one like `randomNumber={Math.random()}` can trigger a re-render if its value has changed.

[2016-06-28 19:13] trevorr commented on #279
Great, thanks! Works like a champ. I'll send a link to my component once it's up on GitHub.

[2016-07-01 05:15] #235 closed

[2016-07-01 08:21] edulan commented on #262
Hi @bvaughn, have you consider also the use of throttling here?

If the layout algorithm is not fast enough to complete in less than 16ms per frame, maybe it's better to drop some calculations and only stick to the last one.

The problem I see for moving to a worker is that you'll need to keep both UI thread and worker in sync. So here you'd have the same problem plus a bit overhead for the serial

[2016-07-01 12:43] bvaughn commented on #262
I have not put much thought into throttling, no. But it does seem like something worth considering! :)

Agreed the async could be a PITA.

This issue was mostly just opened as a placeholder for people to toss out ideas. Thanks for adding some thoughts. :)

[2016-07-05 12:59] vysinsky opened #304 "Imprecise scrollTop value when scrolling"
Hi,
I use Grid component with onScroll handler to load data when the user stops scrolling.
I calculate offset to load with `let offset = Math.floor(props.scrollTop / ROW_HEIGHT);` in `onScroll` handler. When our datagrid has a lot of rows (249000) the 'lower' I scroll the bigger is deviation between the index of real first visible row in datagrid and calculated offset - deviation is about 19.79 %.

[2016-07-05 14:47] bvaughn commented on #304
Hey @vysinsky,

Assuming your average `rowHeight` is greater than 41, this is because react-virtualized is scaling down the offsets in order to avoid exceeding the maximum browser-supported `scrollHeight` and `scrollTop` (mentioned briefly [in the release notes here](https://github.com/bvaughn/react-virtualized/blob/master/CHANGELOG.md#730)). This functionality is handled by the [`ScalingCellSizeA

[2016-07-06 01:22] fritz-c opened #305 "Rows disappear with scrollToIndex and overscanRowCount=0"
Reproduced here: https://plnkr.co/edit/gFk7uXNajnowcmzO0vD0

The combination of scrollToIndex, scrollToAlignment = (start|center), and overscanRowCount = 0 results in rows disappearing when the row whose index was specified cannot be placed at the start/center of the list without scrolling beyond the scrolling element's limit.

[2016-07-06 02:04] bvaughn commented on #305
Hey @fritz-c,

Help me understand what I'm looking at. On my screen, the Plunker scrolls to the bottom of the list (as I think it should) when the scroll-to-index is too high.

<img width="309" alt="screen shot 2016-07-05 at 7 03 25 pm" src="https://cloud.githubusercontent.com/assets/29597/16605371/3665cc66-42e3-11e6-8275-d108f63e402a.png">

Am I misunderstanding what you're reporting? Am I seeing

[2016-07-06 03:49] fritz-c commented on #305
Hmm... I suppose it might be browser-dependent. Here's what I see on OS X 10.11.5 / Chrome 51:
![issue](https://cloud.githubusercontent.com/assets/4413963/16607031/fe3a3dc8-4377-11e6-8dd8-9d9aa2e8ac00.gif)

[2016-07-06 03:53] babsonmatt commented on #305
OSX 10.11.3 / Chrome 51.0.2704.106 (64-bit)

![image](https://cloud.githubusercontent.com/assets/853220/16607110/a9f8cf16-430b-11e6-8521-63d04a5b583b.png)

[2016-07-06 05:27] bvaughn commented on #305
I am running OS X 10.11.5. Interesting enough I _can_ reproduce this behavior on Firefox but not on my other browsers.

### Cannot reproduce
* Chrome 51.0.2704.103.
* Chromium 48.0.2553.0
* Safari 9.1.1

### Can reproduce
* Firefox 47.0

No immediate idea why OS X 10.11.3 would cause behavior like this.

[2016-07-06 05:46] bvaughn commented on #305
Never mind. I've identified the issue. Thanks for the helpful Plnkr!

[2016-07-06 07:42] vysinsky commented on #304
Hi @bvaughn,

we have `rowHeigth` of 48 px so it means it is scaled down and probably `onScroll` callback receives scaled `scrollTop` value. Is it possible to scale it back again? My colleague (@vojtech-dobes) will provide more info soon.

[2016-07-06 08:37] vojtech-dobes commented on #304
What we actually need to achieve is to get *row* we scrolled to, not offset. Our naive calculation `offset / row height` doesn't work because of the scaling (which is great feature of course). Question for us is how to solve this?

- We could maybe replicate scaling algorithm to get the actual row number.
- It would be awesome if we could get row number along with the scroll offset :).
- Or scroll

[2016-07-06 14:08] bvaughn commented on #304
Thanks for the additional info. But might I ask- if all you're looking for is to know which range of rows have been rendered, why not use `onSectionRendered` instead of `onScroll`? It passes you the following named parameters: `({ columnOverscanStartIndex: number, columnOverscanStopIndex: number, columnStartIndex: number, columnStopIndex: number, rowOverscanStartIndex: number, rowOverscanStopIndex

[2016-07-06 14:20] vojtech-dobes commented on #304
Totally understood. I was absolutely blind, as I was reading Grid documentation through and still missed `onSectionRendered` :). Looks like exactly what we need.

[2016-07-06 14:37] bvaughn commented on #304
Woo hoo! Nice! :)

Going to close this issue then.

[2016-07-06 14:37] #304 closed

[2016-07-06 15:29] chalda commented on #235
nice i actually hacked a solution together without cellmeasurer:

`<AutoSizer
                        disableHeight={true}
                        ref= {(ref) => {
                            this.autoSizer = ref;
                        }}

                        {({ width }) => {
                            if (this.autoSizer && this.mostRecentWidth !== this.autoSizer.state.width) {

[2016-07-06 16:57] #305 closed

[2016-07-06 16:58] bvaughn commented on #305
Fixed and released as 7.11.8.

Thanks again for the quality bug report!

[2016-07-06 19:32] KyleAMathews opened #306 "Add inline styles for the header row on FlexTable"
You can add inline styles for regular rows and for header columns but it looks like applying a style to the header row was overlooked.

In the meantime I can custom render the header so this isn't urgent but it seems like something that should be there.

[2016-07-06 19:34] KyleAMathews commented on #306
Oh hmmmm... I assumed that you could supply a custom render function for the header but I guess not. Time to fire up the ol' css engine I guess :-)

[2016-07-06 20:04] bvaughn commented on #306
Hey @KyleAMathews,

The header row can be styled too!

[Here](https://github.com/bvaughn/react-virtualized/blob/master/source/FlexTable/FlexTable.js#L245) is where the row-class is fetched and [here](https://github.com/bvaughn/react-virtualized/blob/master/source/FlexTable/FlexTable.js#L265) is where the row-style is set for the header row.

The `rowClassName` getter is passed an index of -1 for t

[2016-07-06 20:55] KyleAMathews commented on #306
ah yes, if `rowStyle` could be a function then I would have all the unicorns I want :-)

[2016-07-06 23:21] fritz-c commented on #305
Thanks for the speedy fix!

[2016-07-07 13:10] jamesbillinger commented on #212
@kof I'm needing to do the same kind of thing.  Chat...which should really be bottom to top scrolling.  I'm curious if you ever found a workable solution...I managed to get variable height rows working by pre-rendering in ```componentWillReceiveProps``` (I couldn't get CellMeasurer to work with redux), but I'm stuck on the bottom-to-top layout.

It works fine if I just download all messages in a c

[2016-07-07 13:46] chiss2906 opened #307 "recomputeRowHeights is not always re-rendering"
`recomputeRowHeights()` is not re-rendering some of the VirtualScroll cells properly, even though the  function passed to `rowHeight` is receiving a proper value and I call `recomputeRowHeights(index)` when the height changes.

Mostly it happens to cells which contains an image, which means their height changes. Less often it happens to rows without it. So basically I would say not all rows that n

[2016-07-07 14:36] kof commented on #212
I have one, but I still didn't come to make it ready for open source.

[2016-07-07 14:46] kof commented on #212
Also my requirement is to load infinite amount of messages and also being able to start in the middle of that stream. I have implemented a bunch of components to do that.

[2016-07-07 14:56] bvaughn commented on #307
Hey @chiss2906,

I'll need you to provide a Plunker that demonstrates what you're seeing. I'm fairly confident that the issue here lies somewhere in your props/state tracking and not in `VirtualScroll` - but I'll be happy to take a look if you can point me at a runnable demo with source code.

[2016-07-07 16:10] jamesbillinger commented on #212
No worries...and thanks for the response.  I think for now I may just load the last 100 (or so) messages, and then offer a button to load all (slowly) if need be.

[2016-07-08 09:38] smhg commented on #212
Another example of the same bi-directional scrolling need: calendars.
[react-infinite-calendar](http://clauderic.github.io/react-infinite-calendar/) solves this by having far-away start- and end-dates. Not that big of an issue for a calendar, but still a hack.
Could a new HOC address this?
I'd be happy to give it a try. Or are there too many insurmountable issues?

[2016-07-08 12:24] ivanfryda opened #308 "Scrolling goes past the component internal state and the rendering is offset"
I'm using VirtualScroll and I set the rowHeight as 26.5 px. Every scroll goes 53 px down, which means 2 rows. I'm debugging the onScroll and onRowsRendered values and that works OK. Past the 10th row, the scroll is still going down 53px down, but the scroll goes down 4 rows instead of 2. This is also the time the overscanStartIndex starts being more than zero. This is making the component render p

[2016-07-08 13:27] chiss2906 commented on #307
@bvaughn Here is the link to the Plunker: https://plnkr.co/edit/o4ArW2Os4XDdlTV8OuRx?p=preview :)

[2016-07-08 13:38] bvaughn commented on #212
The biggest issue I can see- other than the added complexity from additional forking behavior- would be with dynamically measured content (eg a chat list using `CellMeasurer`).

react-virtualized has been optimized to defer measuring cells until needed for better performance. If you have a list of 1,000,000,000 rows, but only the first 15 are visible, it only measures the first 15 and uses an esti

[2016-07-08 13:41] bvaughn opened #309 "Performance optimization idea: Avoid measuring unseen rows before a range"
react-virtualized has been optimized to defer measuring cells until needed for better performance. If you have a list of 1,000,000,000 rows, but only the first 15 are visible, it only measures the first 15 and uses an estimated height for the rest. If you scroll down to rows 50...64, it will measure 15...64 but then continue using the estimated height for 65+.

The reason it measures rows 15...64

[2016-07-08 13:43] bvaughn commented on #308
This behavior often indicates that a user forgot to include the react-virtualized stylesheet.

[code]

If that's not the cause, I'll have to see your project to be able to provide additional insight.

[2016-07-08 13:50] ivanfryda commented on #308
I have that stylesheet included in my source file. Is there any way I can confirm that this is really working?

[2016-07-08 13:59] bvaughn commented on #307
When resize is requested, your `VirtualList` component is logging "_not yet!_", meaning that it isn't passing this call through to `VirtualScroll`. Since `VirtualScroll` is pre-rendering a few rows below (`overscanRowCount`) this means that those rows are never getting remeasured. If you set `overscanRowCount={0}` on the inner `VirtualScroll` you can see that they _do_ get updated as you scroll- b

[2016-07-08 13:59] #307 closed

[2016-07-08 14:00] bvaughn commented on #308
Look for the CSS class `.Grid` or `.Grid__cell` in your bundled CSS to confirm it's being included successfully I guess. :)

Let me know when you have something I can take a look at.

[2016-07-08 20:04] wmertens commented on #307
@bvaughn I believe this is not the whole story: https://plnkr.co/edit/fy1GmIbjs255ZqAPi6ew?p=preview

I added something that blinks every few seconds, and if you enable the alternatel height detector, it will adjust.

However, I noticed that if there are a number of recalculation requests coming in before VirtualScroll gets to it, it will handle the last one and not all the ones requested. I think

[2016-07-08 21:02] bvaughn commented on #307
This doesn't sound correct to me, but maybe I'm misunderstanding you. [`VirtualScroll.recomputeRowHeights`](https://github.com/bvaughn/react-virtualized/blob/master/source/VirtualScroll/VirtualScroll.js#L126) calls [`Grid.recomputeGridSize`](https://github.com/bvaughn/react-virtualized/blob/master/source/Grid/Grid.js#L254) to clear the cached sizes after the specified index and then immediately re

[2016-07-08 21:02] bvaughn commented on #307
This seems to be what I'm seeing, looking at your demo too. Looks like rows are being expanded and shrunk as "blink" is added and removed.

[2016-07-08 21:10] bvaughn commented on #307
Ah, I think I understand. And I think this is just how your test harness is setup. Each `NewsCell` is setting a timeout that clears and triggers a re-render. Let's say cells A, B, and C are visible. If cell A triggers a re-render, `VirtualScroll` will immediately re-measure A, B, and C. Then if cell B triggers a re-render right after this, `VirtualScroll` will immediately re-measure B and C. Then

[2016-07-09 02:52] bvaughn commented on #306
Sorry it took me a bit longer than usual to get around to this @KyleAMathews. Been a bit distracted this week preparing for an upcoming trip. 7.12.0 has this new feature!